<!-- Simple header with scrollable tabs. -->
<div flex="90" flex-offset="5" flex-md="80" flex-offset-md="20" flex-sm="90" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" ui-view style="height:100%;">
    <md-content layout-padding layout="column" flex>
        <form >
            <md-autocomplete md-search-text="personnelSearchText"
                             md-selected-item-change="selectedPersonnelChange(perso)"
                             md-items="perso in personnelQuerySearch(personnelSearchText)"
                             md-item-text="perso.name"
                             md-min-length="2"
                             placeholder="{{'Search a staff (Name, matricule or CNI)' | translate}}"
                             required
                             md-require-match
                             flex>
                <md-item-template>
                    <span md-highlight-text="deficitaireSearchText">{{perso.name}} </span>
                    <small>
                        <span >(</span>
                        <span ng-if="perso.identifier">{{"Mle: " + (perso.identifier)}} </span>
                        <span ng-if="perso.gender">| {{(perso.gender)}} , {{(perso.age) + " ans"}}</span>
                        <span ng-if="perso.affectedTo.position.name" > | {{perso.affectedTo.position.name}})</span>
                        <span >)</span>
                    </small>
                </md-item-template>
                <md-not-found>
                    "{{personnelSearchText}}"<span translate>:</span> <span translate> No matching information was found.</span>
                </md-not-found>
            </md-autocomplete>
        </form>

        <md-card-actions layout="row" ng-if="personnelSelected">
            <span flex></span>
            <md-button  class="md-raised md-primary" aria-label="Edit" >
                <md-icon>edit</md-icon>
                <span translate>Edit</span>
            </md-button>
            <md-button  class="md-raised" aria-label="Print" ng-click="openPdf()">
                <md-icon>print</md-icon>
                <span translate>Print</span>
            </md-button>
        </md-card-actions>
        <div layout="column" layout-align="center center" ng-if="!personnelSelected"  style="opacity:0.2;">
            <md-icon aria-label="{{helper.title}}" class="material-icons" style="font-size: 120px;height: 120px;width: 120px;">{{helper.icon}}</md-icon>
            <h2 class="md-title">{{helper.title}}</h2>
        </div>

        <md-card ng-if="personnelSelected">
            <md-card-header   layout-align="center" layout-wrap layout="column" >
                <div layout="row" layout-align="center center" >
                    <img  ng-src="templates/staffs/img/{{personnelSelected.mysqlId}}.jpeg" class="img-circle" />
                </div>
                <div layout="column" layout-align="center center">
                    <md-button ui-sref="home.profile.edit" >
                        <span style="white-space: nowrap; font-weight: bold;">{{personnelSelected.name}}</span>
                    </md-button>
                    <span ng-if="personnelSelected.affectedTo.position.name" style="white-space: nowrap; margin-top: -6px;margin-bottom: 5px;">{{personnelSelected.affectedTo.position.name| uppercase | unknown}}</span>
                </div>
                <div style="padding:0;margin: 0;" layout="row" layout-align="center center">
                    <div flex>
                        <div style="padding:0;margin: 0;" layout="row" layout-align="center center">
                            <p style="white-space: nowrap; font-weight: bold;padding:0;margin: 0; font-size: 80%;" > <span translate>Profile: </span> {{personnelSelected.profilesCorresponding}}<span translate>% of required profile</span> </p>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div style="margin-right:5px;"> <md-icon style="color: #0288d1;">star</md-icon></div>
                            <md-progress-linear style="max-width: 20%;" md-mode="determinate" value="{{personnelSelected.profilesCorresponding}}"></md-progress-linear>
                        </div>
                    </div>
                    <div flex>
                        <div style="padding:0;margin: 0;" layout="row" layout-align="center center">
                            <p style="white-space: nowrap; font-weight: bold;padding:0;margin: 0; font-size: 80%;" > <span translate>Skills: </span> {{personnelSelected.skillsCorresponding}}<span translate>% of required skills</span> </p>
                        </div>
                        <div layout="row" layout-align="center center">
<div style="margin-right:5px;"> <md-icon style="color: #0288d1;">star</md-icon></div>
<md-progress-linear style="max-width: 20%;" md-mode="determinate" value="{{personnelSelected.skillsCorresponding}}"></md-progress-linear>
</div>
</div>

                </div>
            </md-card-header>
        </md-card>

        <md-tabs md-dynamic-height md-border-bottom ng-if="personnelSelected" style="margin-top: -20px">
                <md-tab label='{{"Personnal data"| translate }}'>
                    <md-content class="md-padding" layout="row">

                        <div flex="50">
                            <md-card >
                                <md-card>
                                    <md-card-content>
                                        <md-list>
                                            <md-list-item>
                                                <md-icon>face</md-icon>
                                                <p class="md-body-2" translate>Full name</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.name}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item ng-if="personnelSelected.birthDate">
                                                <md-icon>cake</md-icon>
                                                <p class="md-body-2" translate>Age</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.age}} <span translate>Years</span></p>
                                            </md-list-item>
                                            <md-divider ></md-divider>
                                            <md-list-item ng-if="personnelSelected.birthDate">
                                                <md-icon>cake</md-icon>
                                                <p class="md-body-2" translate>Birth date</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.birthDate| dateHuman}}</p>
                                            </md-list-item>
                                            <md-divider ></md-divider>
                                            <md-list-item ng-if="personnelSelected.birthPlace">
                                                <md-icon>cake</md-icon>
                                                <p class="md-body-2" translate>Birth place</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.birthPlace}}</p>
                                            </md-list-item>
                                            <md-divider ng-if="personnelSelected.birthPlace"></md-divider>

                                            <md-list-item>
                                                <md-icon>accessibility</md-icon>
                                                <p class="md-body-2" translate>Gender</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.gender}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Family situation</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.maritalStatus}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Spouse's name</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.partner}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>poll</md-icon>
                                                <p class="md-body-2" translate>Number of child</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.children}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>location_on</md-icon>
                                                <p class="md-body-2" translate>Origin of</p>
                                                <p class="md-body-1 md-secondary">CMR, {{personnelSelected.address[0].region}} , {{personnelSelected.address[0].department}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>phone</md-icon>
                                                <p class="md-body-2" translate>Phone number</p>
                                                <p class="md-body-1 md-secondary">{{personnelSelected.telecom[0].value}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>email</md-icon>
                                                <p class="md-body-2" translate>Email</p>
                                                <p class="md-body-1 md-secondary">{{personnelSelected.telecom[1].value}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>

                                        </md-list>
                                    </md-card-content>
                                </md-card>

                                <!--                        <md-card>
                                                            <md-card-title>
                                                                <md-card-title-text>
                                                                    <span class="md-headline" translate>Last progression</span>
                                                                </md-card-title-text>
                                                            </md-card-title>
                                                            <md-card-content>
                                                                <md-list>
                                                                    <md-list-item>
                                                                        <md-icon>store</md-icon>
                                                                        <p class="md-body-2" translate>Index or echelon</p>
                                                                        <p class="md-body-1 md-secondary">{{personnelSelected.note| uppercase | unknown}}</p>
                                                                    </md-list-item>
                                                                    <md-divider></md-divider>
                                                                    <md-list-item>
                                                                        <md-icon>event</md-icon>
                                                                        <p class="md-body-2" translate>Date</p>
                                                                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.note| uppercase | unknown}}</p>
                                                                    </md-list-item>
                                                                    <md-divider></md-divider>
                                                                </md-list>
                                                            </md-card-content>
                                                            <md-card-actions layout="row" style="margin-top: -20px">
                                                                <span flex></span>
                                                                <md-button  class="md-raised md-primary" aria-label="Add" >
                                                                    <md-icon>edit</md-icon>
                                                                    <span translate>Add</span>
                                                                </md-button>
                                                            </md-card-actions>
                                                        </md-card>-->
                                <!--Required Skills-->

                                <md-card ng-if="personnelSelected.qualifications.schools.length > 0">
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" translate>School and training</span>
                                        </md-card-title-text>

                                    </md-card-title>
                                    <md-card-content>
                                        <md-content>
                                            <md-list >
                                                <md-list-item class="md-3-line" ng-repeat="diplome in personnelSelected.qualifications.schools" >
                                                    <div class="md-list-item-text" layout="column">
                                                        <h3>{{ diplome.autority}}</h3>
                                                        <h4>{{ diplome.diploma}}</h4>
                                                        <p>{{ diplome.date}}</p>
                                                    </div>
                                                    <md-divider></md-divider>
                                                </md-list-item>
                                            </md-list>
                                        </md-content>
                                    </md-card-content>
                                </md-card>
                                <!--Meta--> 
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" translate>Meta</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <md-list>
                                            <md-list-item>
                                                <md-icon>event</md-icon>
                                                <p class="md-body-2" translate>Created</p>
                                                <p class="md-body-1 md-secondary">{{personnelSelected.created| dateHuman}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>event</md-icon>
                                                <p class="md-body-2" translate>Last modified</p>
                                                <p class="md-body-1 md-secondary">{{personnelSelected.lastModified| dateHuman}}</p>
                                            </md-list-item>
                                        </md-list>
                                    </md-card-content>
                                </md-card>

                            </md-card>
                        </div>
                        <div flex="50">


                            <md-card>
                                <md-card>
                                    <md-card-title>
                                        <md-card-title-text>
                                            <span class="md-headline" translate>Professional informations</span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <md-list>
                                            <md-list-item>
                                                <md-icon>store</md-icon>
                                                <p class="md-body-2" translate>Structure</p>
                                                <p class="md-body-1 md-secondary">{{personnelSelected.affectedTo.position.structure.name| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Function</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.affectedTo.position.name| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Registration number</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.identifier| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Status</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.status| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Corps</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.corps| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Grade</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.grade| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <md-list-item>
                                                <md-icon>local_hospital</md-icon>
                                                <p class="md-body-2" translate>Category</p>
                                                <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.category| uppercase | unknown}}</p>
                                            </md-list-item>
                                            <md-divider></md-divider>
                                            <!--                                    <md-list-item>
                                                                                    <md-icon>airline_seat_recline_extra</md-icon>
                                                                                    <p class="md-body-2" translate>Retirement</p>
                                                                                    <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.retirement}}</p>
                                                                                </md-list-item>-->
                                            <!--                                    <md-divider></md-divider>
                                                                                <md-list-item>
                                                                                    <md-icon>local_hospital</md-icon>
                                                                                    <p class="md-body-2" translate>Discipline</p>
                                                                                    <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.discipline| uppercase | unknown}}</p>
                                                                                </md-list-item>
                                                                                <md-divider></md-divider>
                                                                                <md-list-item>
                                                                                    <md-icon>local_hospital</md-icon>
                                                                                    <p class="md-body-2" translate>Actual situation</p>
                                                                                    <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{personnelSelected.situation| uppercase | unknown}}</p>
                                                                                </md-list-item>-->

                                        </md-list>
                                    </md-card-content>
                                </md-card>
                                <md-card>
                                    <md-card-title class="card-container">
                                        <md-card-title-text class="card-container-left">
                                            <span class="md-headline" translate>Profiles</span>
                                        </md-card-title-text>
                                        <md-card-actions layout="row" >
                                            <span flex></span>
                                            <md-button ng-click="add(personnelSelected, 'profiles', 'profiles')" aria-label="Edit" >
                                                <md-icon>edit</md-icon>
                                                <span translate>Edit profiles</span>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card-title>
                                    <md-card-content layout="column" flex>
                                        <md-list ng-cloak flex>
                                            <div  ng-repeat="profile in profiles">
                                                <md-list-item ui-sref="#">
                                                    <p class="md-body-2" >{{profile.name}}</p>
                                                </md-list-item>
                                                <md-divider></md-divider>
                                            </div>
                                            <div layout="row" layout-align="center center" data-ng-if="profiles && profiles.length <= 0" style="opacity:0.2; margin-top: -40px">
                                                <h2 class="md-title">{{helperNoData.title}}</h2>
                                            </div>
                                        </md-list>
                                        <div flex>
                                            <div style="padding:0;margin: 0;" layout="row" layout-align="center center">
                                                <p style="white-space: nowrap; font-weight: bold;padding:0;margin: 0; font-size: 80%;" > <span translate>Profile: </span> {{personnelSelected.profilesCorresponding}}<span translate>% of required profile</span> </p>
                                            </div>
                                            <div layout="row" layout-align="center center">
                                                <div style="margin-right:5px;"> <md-icon style="color: #0288d1;">star</md-icon></div>
                                                <md-progress-linear style="max-width: 20%;" md-mode="determinate" value="{{personnelSelected.profilesCorresponding}}"></md-progress-linear>
                                            </div>
                                        </div>
                                        <!--                                    <span flex></span>
                                                                            <div oc-lazy-load="'node_modules/angularjs-gauge/dist/angularjs-gauge.min.js'"  layout="column" layout-align="center center" flex>
                                                                                <span flex></span>
                                                                                <ng-gauge size="100" type="full" thick="10" min="0" max="120" value='{{20}}' cap="butt" label="of required"  foreground-color="#0fbf41" background-color="#ededed" append="%" flex></ng-gauge>
                                                                            </div>-->
                                    </md-card-content>
                                </md-card>
                                <!--required skills-->
                                <md-card>
                                    <md-card-title class="card-container">
                                        <md-card-title-text class="card-container-left">
                                            <span class="md-headline" translate>Skills</span>
                                        </md-card-title-text>
                                        <md-card-actions layout="row" >
                                            <span flex></span>
                                            <md-button ng-click="add(personnelSelected, 'skills', 'skills')" aria-label="Edit" >
                                                <md-icon>edit</md-icon>
                                                <span translate>Edit skills</span>
                                            </md-button>
                                        </md-card-actions>
                                    </md-card-title>
                                    <md-card-content layout="column" flex>
                                        <md-list ng-cloak flex>
                                            <div  ng-repeat="skill in skills">
                                                <md-list-item ui-sref="#">
                                                    <p class="md-body-2" >{{skill.name}}</p>
                                                </md-list-item>
                                                <md-divider></md-divider>
                                            </div>
                                            <div layout="row" layout-align="center center" data-ng-if="skills && skills.length <= 0" style="opacity:0.2; margin-top: -40px">
                                                <h2 class="md-title">{{helperNoData.title}}</h2>
                                            </div>
                                        </md-list>
                                        <div flex>
                                            <div style="padding:0;margin: 0;" layout="row" layout-align="center center">
                                                <p style="white-space: nowrap; font-weight: bold;padding:0;margin: 0; font-size: 80%;" > <span translate>Skills: </span> {{personnelSelected.skillsCorresponding}}<span translate>% of required skills</span> </p>
                                            </div>
                                            <div layout="row" layout-align="center center">
                                                <div style="margin-right:5px;"> <md-icon style="color: #0288d1;">star</md-icon></div>
                                                <md-progress-linear style="max-width: 20%;" md-mode="determinate" value="{{personnelSelected.skillsCorresponding}}"></md-progress-linear>
                                            </div>
                                        </div>
                                        <!--                                    <span flex></span>
                                                                            <div oc-lazy-load="'node_modules/angularjs-gauge/dist/angularjs-gauge.min.js'"  layout="column" layout-align="center center" flex>
                                                                                <span flex></span>
                                                                                <ng-gauge size="100" type="full" thick="10" min="0" max="120" value="{{personnelSelected.skillsCorresponding}}" cap="butt" label="of required"  foreground-color="#0fbf41" background-color="#ededed" append="%" flex></ng-gauge>
                                                                            </div>-->
                                    </md-card-content>
                                </md-card>
                            </md-card>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label='{{"History"| translate }}'>
                    <md-content >
                        <!--                    <div oc-lazy-load="'bower_components/angular-timeline/dist/angular-timeline.js'">
                                                <timeline>
                                                    <timeline-event ng-repeat="event in events| orderBy:'dateOf':true">
                                                        <timeline-badge ng-click="read($index);">
                                                            <small>{{event.dateOf| dateOnlyYear}}</small>
                                                        </timeline-badge>
                                                        <timeline-panel ng-click="read($index);">
                                                            <timeline-heading>
                                                                <h6 style="margin:0;"><md-icon>work</md-icon> <small>{{event.action}}</small> : <b>{{event.title}}</b></h6>
                                                            </timeline-heading>
                                                            <p style="margin:0;">
                                                                <span >  <md-icon>account_balance</md-icon> {{event.content}}</span></br>
                                                                <span > <md-icon>vpn_key</md-icon><small> {{event.acte}}</small> <small translate> of </small> <small> {{event.dateOf| dateHuman}}</small></span>
                                                            </p>
                                                        </timeline-panel>
                                                    </timeline-event>
                                                </timeline>
                                            </div>-->
                    </md-content>
                </md-tab>

            </md-tabs>


            <md-card-actions layout="row" ng-if="personnelSelected" style="margin-top: -30px">
                <span flex></span>
                <md-button  class="md-raised md-primary" aria-label="Edit" >
                    <md-icon>edit</md-icon>
                    <span translate>Edit</span>
                </md-button>
                <md-button  class="md-raised" aria-label="Print" >
                    <md-icon>print</md-icon>
                    <span translate>Print</span>
                </md-button>
            </md-card-actions>
        </md-content>
    </div>
