<div layout-xs="column" layout="row" layout-wrap>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/statistics/cards/card1.html'">
    </div>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/dashboard/charts/chart1.html'">
    </div>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/dashboard/charts/chart2.html'">
    </div>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/statistics/cards/card2.html'">
    </div>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/statistics/cards/card4.html'">
    </div>
    <div flex-xs="100" 
         flex-gt-xs="100" 
         flex-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-gt-sm="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 50}}" 
         flex-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 
         flex-gt-md="{{chart.flex ? chart.flex : $parent.$parent.path.charts.length == 1 ? 50 : 33}}" 

         data-ng-include="'templates/statistics/cards/card6.html'">
    </div>
</div>
