
<div data-oc-lazy-load="['js/directives/FilterbarDirective.js']" style="margin-bottom: 10px">
	<div filterbar daterange="true" labs="account.showLabs" province="account.showProvinces" district="account.showDistricts" path="true" disable-themes="true" search="search"></div>
</div>
<div layout="column" layout-wrap>
    <div style="margin: 0 auto; font-size: 20pt; margin-top: 15px">Welcome Anatole</div>
    <div style="margin: 0 auto;  font-size: 12pt; margin-top: 5px; margin-bottom: 20px">How are you today?</div>
</div>

<div layout-xs="column" layout="row" layout-wrap>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="25" flex-gt-sm="25" flex-md="25" flex-gt-md="25" 
         data-ng-include="'templates/statistics/procrastinate/procras1.html'">
    </div>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="25" flex-gt-sm="25" flex-md="25" flex-gt-md="25" 
         data-ng-include="'templates/statistics/procrastinate/procras2.html'">
    </div>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="25" flex-gt-sm="25" flex-md="25" flex-gt-md="25" 
         data-ng-include="'templates/statistics/procrastinate/procras3.html'">
    </div>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="25" flex-gt-sm="25" flex-md="25" flex-gt-md="25" 
         data-ng-include="'templates/statistics/procrastinate/procras4.html'">
    </div>
</div>

<div layout-xs="column" layout="row" layout-wrap>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="33" flex-gt-sm="33" flex-md="33" flex-gt-md="33" 
         data-ng-include="'templates/statistics/procrastinate/procras5.html'">
    </div>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="33" flex-gt-sm="33" flex-md="33" flex-gt-md="33" 
         data-ng-include="'templates/statistics/procrastinate/procras6.html'">
    </div>
    <div flex-xs="100" flex-gt-xs="100" flex-sm="33" flex-gt-sm="33" flex-md="33" flex-gt-md="33" 
         data-ng-include="'templates/statistics/procrastinate/procras7.html'">
    </div>
</div>




