<md-card id="Performance" class="widget" ng-class="{'selectedChart' : selected === true && $root.state ==='home.analysis'}">
    <md-card-title>
        <md-card-title-text layout="row">
            <md-button class="md-icon-button info-labs">
                <md-icon>fullscreen</md-icon>
            </md-button>
            <span class="md-headline">
                <span translate>Performance</span>
            </span>
            <span flex></span>
            <div cardselect selected="selected"></div>
            <md-button class="md-icon-button info-labs" ng-click="$parent.$parent.exportPNG('Performance', 'Performance' | translate);" ng-disabled="$parent.$parent.$parent.kernel.isLoading == true">
                <md-icon>file_download</md-icon>
            </md-button>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="loading" data-ng-if="loadingChart">
            <md-progress-circular md-mode="indeterminate" md-diameter="30" class="md-accent"></md-progress-circular>
        </div>
        <div ng-class="{'opacity1': loadingChart}">
            <canvas class="chart chart-line" chart-data="data.absolute" chart-options="options" chart-labels="labels" chart-series="series" chart-colors="colors"></canvas>
        </div>
        <small class="daterange">{{$parent.range.from.value | date:'dd/MM/yy'}}-{{$parent.range.to.value | date:'dd/MM/yy'}}</small>
    </md-card-content>
</md-card>
