<div data-oc-lazy-load="['js/directives/FixedColumnHeaderDirective.js']">
    <md-card class="widget" >
        <md-card-title>
            <md-card-title-text layout="row">
                <md-button class="md-icon-button info-labs">
                    <md-icon>fullscreen</md-icon>
                </md-button>
                <span class="md-headline">
                    <span translate>Synthesis</span>
                </span>
                <span flex></span>
                <div cardselect selected="selected"></div>
                <md-menu>
                    <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)" ng-disabled="$parent.$parent.$parent.kernel.isLoading == true">
                        <md-icon>more_vert</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ng-click="$parent.$parent.exportXLSX(export());">
                                <md-icon class="material-icons-outlined" md-menu-align-target>get_app</md-icon> <span translate>Export</span> <small>(xlsx)</small>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div class="loading" data-ng-if="loadingChart">
                <md-progress-circular md-mode="indeterminate" md-diameter="30" class="md-accent"></md-progress-circular>
            </div>
            <div oc-lazy-load="'node_modules/angular-material-data-table/dist/md-data-table.min.js'" style="overflow: auto;height: 402px;">
                <md-table-container class="container-card" fixed-column-table>
                    <table md-table md-progress="promise" class="table-fixed">
                        <thead md-head md-order="name">
                            <tr md-row>
                                <th md-column md-order-by="name"><span translate>User name</span></th>
                                <th md-column md-order-by="numberOfPatients"><span translate>Not started</span></th>
                                <th md-column md-order-by="numberOfTests"><span translate>In progress</span></th>
                                <th md-column md-order-by="numberOfOperators"><span translate>Completed</span></th>
                                <th md-column md-order-by="numberOfPrescribers"><span>Over due</span></th>
                                <th md-column md-order-by="numberOfComputers"><span translate>Blocked</span></th>
                                <th md-column md-order-by="lastTestReceived"><span translate>Total</span></th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row data-ng-repeat="user in synthesis">
                                <td md-cell>{{user.userName}}</td>
                                <td md-cell>{{user.notstarted}}</td>
                                <td md-cell>{{user.completed}}</td>
                                <td md-cell>{{user.inprogress}}</td>
                                <td md-cell>{{user.overdue}}</td>
                                <td md-cell>{{user.blocked}}</td>
                                <td md-cell><b>{{user.notstarted + user.completed + user.inprogress + user.overdue + user.blocked}}</b></td>
                            </tr>
                        </tbody>
                        <tfoot md-foot>
                            <tr md-row>
                                <td md-cell><b><span translate>Total</span></b></td>
                                <td md-cell><b>{{counter.totalOfnotstarted}}</b></td>
                                <td md-cell><b>{{counter.totalOfinprogress}}</b></td>
                                <td md-cell><b>{{counter.totalOfcompleted}}</b></td>
                                <td md-cell><b>{{counter.totalOfoverdue}}</b></td>
                                <td md-cell><b>{{counter.totalOfblocked}}</b></td>
                                <td md-cell><b>{{counter.totalOfnotstarted + counter.totalOfinprogress + counter.totalOfcompleted + counter.totalOfoverdue + counter.totalOfblocked}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </md-table-container>
            </div>
            <small ng-hide="$root.state === 'home.analysis'" class="path" cardpath selectedDisease="selectedDisease" selectedTheme="selectedTheme" selectedTestType="selectedTestType" selectedDiagnostic="selectedDiagnostic"></small>
        </md-card-content>
    </md-card>
</div>