<div class="loading" layout="row" layout-sm="column" layout-align="space-around" ng-if="loading">
    <md-progress-circular md-mode="indeterminate" md-diameter="30" class="md-accent"></md-progress-circular>
</div>
<div layout="column" layout-align="center center" style="min-height: 100vh; background: #f5f7fa;">
    <md-card class="md-whiteframe-z2" style="margin-top: 40px; max-width: 400px; width: 100%;">
        <md-card-content>
            <div style="text-align:center; margin-bottom: 16px;">
                <img src="/assets/img/logos/logo.png" alt="Logo" style="width: 80px; margin-bottom: 8px;" />
                <h3 class="md-title" style="margin-bottom: 0;" translate>Password recovery</h3>
                <p class="md-subhead" style="color: #666; margin-top: 4px;" translate>Enter your email address and we will send you a link to reset your password.</p>
                <md-button class="md-icon-button" ng-click="toggleDarkMode()" aria-label="Toggle dark mode" style="float:right; margin-top:-40px;">
                    <md-icon md-svg-icon="{{darkMode ? 'brightness_7' : 'brightness_4'}}"></md-icon>
                </md-button>
            </div>
            <form ng-submit="submit();" name="lostForm" novalidate autocomplete="off">
                <md-input-container class="md-block">
                    <label translate>Your email</label>
                    <input type="email" ng-model="email" name="email" required autocomplete="off">
                </md-input-container>
                <div layout="row" layout-align="center center" style="margin-top: 16px;">
                    <md-button class="md-raised" ui-sref="signin"><span translate>Back to login</span></md-button>
                    <div flex></div>
                    <md-button class="md-raised md-accent" type="submit" ng-disabled="loading || !lostForm.$valid"><span translate>Reset password</span></md-button>
                </div>
            </form>
        </md-card-content>
    </md-card>
</div>
