
<md-toolbar class="toolbar-filter">
    <div class="md-toolbar-tools md-default">
        <div flex >

        </div>
        <md-button class="md-icon-button" aria-label="search" ng-click="search = !search;$parent.setFocus('search');" ng-hide="search == undefined" >
            <md-icon class="material-icons" >search</md-icon>
            <md-tooltip>
                <span translate>Search</span>
            </md-tooltip>
        </md-button>
    </div>
</md-toolbar>

<md-card>
    <md-toolbar class="md-table-toolbar md-default" ng-show="search">
        <div class="md-toolbar-tools">
            <md-icon>search</md-icon>
            <form flex>
                <input type="text" name="search" ng-model="mouvementFilter" placeholder="{{ 'Search...' | translate }}">
            </form>
            <md-button class="md-icon-button" ng-click="search = false" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="typeMouvement[0].libelle" translate>Type </th>
                    <th md-column md-order-by="acte[0].numero" translate>Registration number</th>
                    <th md-column md-order-by="personnel[0].nom" translate>Concerned</th>
                    <th md-column md-order-by="posteActuel[0].nom" translate>Promoted as</th>
                    <th md-column md-order-by="posteActuel[0].structure[0].nom" translate>Structure</th>
                    <th md-column md-order-by="ancienPoste[0].nom" translate>Last position</th>
                    <th md-column md-order-by="mancienPoste[0].structure[0].nom" translate>From</th>
                    <th md-column md-order-by="acte[0].dateCreation" translate>Date</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row data-ng-repeat="mouvement in mouvements| filter:mouvementFilter | orderBy: query.order | limitTo: query.limit: (query.page - 1) * query.limit" ng-click="read(mouvement)">
                    <td md-cell>{{mouvement.typeMouvement[0].libelle}}</td>
                    <td md-cell>{{mouvement.acte[0].nature[0].libelle}} N° {{mouvement.acte[0].numero}} </td>
                    <td md-cell>{{mouvement.personnel[0].nom}} {{mouvement.personnel[0].prenom}}</td>
                    <td style="color: green" md-cell>{{mouvement.posteActuel[0].nom}}</td>
                    <td  md-cell>{{mouvement.posteActuel[0].structure[0].code| uppercase}}</td>
                    <td style="color: red" md-cell>{{mouvement.ancienPoste[0].nom}}</td>
                    <td  md-cell>{{mouvement.ancienPoste[0].structure[0].code| uppercase}}</td>
                    <td md-cell>{{mouvement.acte[0].dateCreation| date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination  md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page" md-total="{{mouvements.length}}" 
                          md-page-select="true" md-label="{{label}}" >

</md-card>
<div style="margin-bottom: 100px"></div>
<md-button  class="md-fab md-accent md-fab-bottom-right" aria-label="Add" href="#!staff/mobilities/add" >
    <md-icon>add</md-icon>
    <md-tooltip md-direction="top">
        <span translate>New</span>
    </md-tooltip>
</md-button>



