<div flex="50" flex-offset="25" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0">
    <h3 class="md-headline page-title"><span translate>About</span> {{kernel.title}}</h3>
    <md-card>
        <md-card-content>
            <div layout="row" layout-align="center">
                <div style="text-align: center;">
                    <img ng-src="{{kernel.logo.large}}" style="width:150px;height:128px;">
                </div>
            </div>
            <br>
            <div layout="row" layout-align="center">
                <span class="md-body-2">{{kernel.version}}</span>
            </div>
            <div layout="row" layout-align="center">
                <span class="md-body-2">{{kernel.released}}</span>
            </div>
            <md-content flex layout-padding style="height: 100px;border: 1px solid #eee;margin-bottom: 10px;">
                <p>
                    Savics SPRL Terms of Service 

                    Savics SPRL <br> Place St Job, 29, 1180 Brussels, Belgium <br>
                    www.savics.org – VAT  BE 0649 519 522
                </p>
            </md-content>
            <md-content flex layout-padding style="height: 100px;border: 1px solid #eee;margin-bottom: 20px;">
                <p>
                    Savics SPRL Privacy Policy
                    <br>
                    Last Updated: February 13th, 2017
                    <br>
                    Savics, SPRL respects the privacy of the patients and has developed this Privacy Policy to demonstrate its commitment to protecting the patient data privacy. These privacy policies (the "Privacy Policy") are intended to describe for you, as a legal representative of your organization who is a user of the software Core, or www.savics.org or our services, the information we collect, how that information may be used, with whom it may be shared, and your choices about such uses and disclosures.

                    We encourage you to read this Privacy Policy carefully when using our Core software or services or transacting business with us. By using our software or our services, you are accepting the practices described in this Privacy Policy.
                    If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.

                    Information We Collect
                    In General. We may collect personal information that can identify the patient, such as name, phone number, address, gender, age, past medical history, physician anamnesis, patient treatment and other information that does not identify the patient. When your organization provides personal information through our software Core, and depending on the service your request to Savics, the information may be sent to servers located in Belgium and other countries around the world.
                    You will always remain the owner of the data you provide to us and you will decide where the data can go to and where they cannot go to.
                    Information you provide. We may collect and store any personal information you collect through the Core software or provide to us in some other manner, including personal information, comment or other submission you provide to us. This includes identifying information, such as the laboratory name and address, your name, address, phone number, gender, age, server addresses, database names, passwords. 
                    Information about others. We may also collect via the Core software and store personal information about other people that you provide to us including personal information, comment or other submission you add to the collected medical test results. This includes identifying information, such as the laboratory name and address, your name, address, phone number, gender, age. 

                    How We Use the Information We Collect
                    In General. Savics will strictly use the data within the framework defined by the contract binding Savics and you. Among others, as part of research, development, software installation, analysis and report referring, Savics will never transfer the raw data, the analysis or the reports to third parties that are not directly involved in products or services development with/for Savics without your agreement. The data provided by you will never be sold by Savics or by any of its partners without your consent. 

                    We may use information that we collect about patients, laboratories, prescribers, operators to:
                    deliver the products and services that you have requested;
                    manage your account and provide you with customer support;
                    perform research, and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others;
                    perform research, analysis and development of new products, services, software functionalities or content you could be interest in, sometimes together with third parties that are bound by our Service Agreement;
                    communicate with you by e-mail, postal mail, telephone and/or mobile devices about products or services that may be of interest to you from us;
                    enforce our terms and conditions;
                    manage our business and
                    perform functions as otherwise described to you at the time of collection.

                    When using collected data to perform some of the above-described tasks, we either restrict the data access to dedicated employees/consultants who are bound by the rules of this contract or remove sensitive information such as the name and the surname of any patients to avoid any potential privacy right infringement.

                    You remain the owner of the data collected and grant Savics with an approval to use the data within the limits mentioned above.

                    With Whom We Share Your Information
                    We want you to understand we do not share or sell the data you own with third parties that are not directly involved in products or services development with/for Savics without receiving first your approval. Third parties might be, among others, research laboratories, national programs, universities or international institutions interested in collaborative works. 

                    If we share your data with third parties, we would do it only with organizations that would have agreed to follow our privacy policy guidelines. 

                    Shared information
                    We may share with third parties aggregated and case based non-identifiable information we produce under any of the above circumstances. We may also share it with third parties to develop new products or improve existing ones. We may combine aggregated non-identifiable information we produce with additional non-personal information collected from other sources. 

                    How We Protect Personal Information
                    We take appropriate security measures (including physical, electronic and procedural measures) to help safeguard personal information from unauthorized access and disclosure. For example, only authorized employees are permitted to access personal information, and they may do so only for permitted business functions.

                    Data transfer
                    To secure the transfer of information, within a country or between countries, from one host machine to a server, or between servers, sensitive information will always be encrypted prior being sent via LAN, SMS or via internet. 
                    The only sensitive information that will not be encrypted when transferred is the one contained in the SMS and email sent to the prescribers to let them know the test results. There is currently no technology available to encrypt and decrypt SMS/emails without installing complex applications on portable phones/desktop/laptops. 
                    Pending on your own privacy policy guidelines, you will always be given the choice, in the Core software, to activate or not the function that send the SMS/email to the prescribers. 

                    Data storage and anonymization
                    Savics provides state of the art security levels to store confidential data when requested to perform data analysis or for backup purpose. All sensitive data will be stored on highly secured servers. 
                    If sensitive data needs to be accessed for analysis or development purpose, Savics codes or anonymizes the data prior working with it to ensure that no confidential information could be access during the analysis work.

                    No Rights of Third Parties
                    This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of our services.

                    Changes to This Privacy Policy
                    We will occasionally update this Privacy Policy to reflect changes in our practices and services. When we post changes to this Privacy Policy, we will revise the "Last Updated" date at the top of this Privacy Policy. If we make any material changes in the way we collect, use, and/or share personal information, we will notify you by sending an email to the email address you most recently provided us if any, and/or by prominently posting notice of the changes on our website. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.

                    How to Contact Us
                    If you have any questions about this Privacy Policy or our information-handling practices, please contact us via legal[at]savics[dot]org or postal mail as follows:
                    Savics, SPRL
                    29 Place Saint Job,
                    1180 Brussels
                    Belgium

                    ©2017 Savics, SPRL. All rights reserved.
                    Savics sprl – Place St Job, 29, 1180 Brussels, Belgium
                    WWW.SAVICS.ORG – VAT  BE 0649 519 522
                </p>
            </md-content>
            <div layout="row" layout-align="center">
                <span class="md-body-2">Support</span>
            </div>
            <div layout="row" layout-align="center">
                <md-button style="margin-top: 0;" md-no-ink class="md-accent" href="mailto:support@savics.org">support@savics.org</md-button>
            </div>
            <div layout="row" layout-align="center">
                <md-button style="margin-top: 0;" md-no-ink class="md-accent" href="http://savics.org">www.savics.org</md-button>
            </div>
            <div layout="row" layout-align="center">
                <span class="md-body-2">Copyright © Savics. All rights reserved.</span>
            </div>
            <div layout="row" layout-align="center">
                <md-button ui-sref="home.dashboard.main" class="md-raised md-accent">
                    <md-icon aria-label="Dashboard" class="material-icons">dashboard</md-icon>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>