<div layout-align-xs="center center">
    <md-toolbar class="toolbar-filter" style=" background-color: rgb(251, 251, 251) !important;">
        <div layout="row" class="md-toolbar-tools md-default" layout-xs="column" layout-wrap>
            <div style="width: 220px" >
                <md-button style="margin: 0px; width: 88px;padding: 0;"
                           ng-click="$parent.$parent.range.from.handleShowCalendar()"
                           aria-label="from" ng-disabled="rootscope.kernel.isLoading == true" class="datepicker-button">

                    {{from| date:"dd/MM/yyyy"}}

                    <md-datepicker md-hide-icons="all" ng-model="$parent.$parent.range.from.value"
                                   style="margin-left: -7px;width: 88px; display: none;" ng-blur="$parent.$parent.range.from.handleBlur()"
                                   md-is-open="$parent.$parent.range.from.isOpen" md-min-date="$parent.$parent.range.min"
                                   md-max-date="$parent.$parent.range.max" ng-disabled="$parent.$parent.range.from.isDisabled"
                                   class="datepicker-input">
                    </md-datepicker>
                </md-button>

                <span  style="color:rgb(33,33,33);">-</span>

                <md-button  style="margin: 0px;width: 88px;padding: 0;"
                            ng-click="$parent.$parent.range.to.handleShowCalendar()"
                            aria-label="to" ng-disabled="rootscope.kernel.isLoading == true" class="datepicker-button">

                    {{to| date:"dd/MM/yyyy"}}

                    <md-datepicker md-hide-icons="all" ng-model="$parent.$parent.range.to.value"
                                   style="margin-left: -7px; display: none;" ng-blur="$parent.$parent.range.to.handleBlur()"
                                   md-is-open="$parent.$parent.range.to.isOpen" md-min-date="$parent.$parent.range.min"
                                   md-max-date="$parent.$parent.range.max" ng-disabled="$parent.$parent.range.to.isDisabled"
                                   class="datepicker-input">
                    </md-datepicker>
                </md-button>
            </div>
            <div >
                <span style="display: inline-block;margin-top: 5px;">
                    <md-switch ng-model="data.cb1" aria-label="Switch 1">
                        Admin view 1: {{ data.cb1 == 1}}
                    </md-switch>
                </span>
            </div>
            <div  >
                <div style="text-align: right;" ng-hide="data.cb1 == 0" layout-margin>
                    <md-input-container>
                        <label>Select user</label>
                        <md-select ng-model="$root.selectedUser" aria-label="users"
                                   ng-change="$root.select('user')" ng-disabled="rootscope.kernel.isLoading == true" class="geo-filter-select">
                            <md-option ng-value="province" ng-repeat="user in users">{{user.firstname}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>

            </div>
        </div>

    </md-toolbar>
</div>