<md-card flex="90" flex-offset="5" >
    <md-card-content>
        <h3 class="md-headline" style="margin: 0;"><span translate>Warn me when</span><span translate>:</span></h3>
        <md-list>
            <md-subheader class="md-no-sticky" style="background:inherit;"><span translate>Staff management</span></md-subheader>
            
                <md-list-item >
                    <md-switch ng-model="thresholds[0].state" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="!admin"> </md-switch>
                                <p translate>When a staff member has spent more than {{thresholds[0].values[0]}} years in the same post</p>
                    <div flex="33">
                        <md-button class="md-raised md-secondary lowercase" ng-click="showPrompt(0);" ng-disabled="!admin">
                            &#62;&equals; {{thresholds[0].values[0]}} {{thresholds[0].placeholder}}
                            <md-tooltip>
                                <span translate>Modify</span>
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-list-item> 
            
                <md-list-item >
                    <md-switch ng-model="thresholds[0].state" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="!admin"> </md-switch>
                                <p translate>When a Civil Servant has reached retirement age</p>
                    <div flex="33">
                        <md-button class="md-raised md-secondary lowercase" ng-click="showPrompt(1);" ng-disabled="!admin">
                            <span translate>Category 'A' and 'B': </span> {{thresholds[1].values[0]}} {{thresholds[1].placeholder}}
                            <md-tooltip>
                                <span translate>Modify</span>
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-raised md-secondary lowercase" ng-click="showPrompt(1,1);" ng-disabled="!admin">
                            <span translate>Category 'C' and 'D': </span> {{thresholds[1].values[1]}} {{thresholds[1].placeholder}}
                            <md-tooltip>
                                <span translate>Modify</span>
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-list-item> 
            
                <md-list-item >
                    <md-switch ng-model="thresholds[0].state" ng-true-value="'1'" ng-false-value="'0'" ng-disabled="!admin"> </md-switch>
                                <p translate>When a non-official staff member has reached retirement age</p>
                    <div flex="33">
                        <md-button class="md-raised md-secondary lowercase" ng-click="showPrompt(2);" ng-disabled="!admin">
                            <span translate>Contractual from CAT 1 to CAT 7:</span> {{thresholds[2].values[0]}} {{thresholds[2].placeholder}}
                            <md-tooltip>
                                <span translate>Modify</span>
                            </md-tooltip>
                        </md-button>
                        <md-button class="md-raised md-secondary lowercase" ng-click="showPrompt(2,1);" ng-disabled="!admin">
                            <span translate>Contractual from CAT 8 to CAT 12:</span> {{thresholds[2].values[1]}} {{thresholds[2].placeholder}}
                            <md-tooltip>
                                <span translate>Modify</span>
                            </md-tooltip>
                        </md-button>
                    </div>
                </md-list-item> 
            
            <md-divider></md-divider>
            
            


    </md-card-content>
    <md-card-actions layout="row" layout-align="end center" ng-if="admin">
        <md-button ng-click="showConfirm();"><span translate>Reset</span></md-button>
        <md-button ng-click="save();" class="md-raised md-accent"><span translate>Save</span></md-button>
    </md-card-actions>
</md-card>