<!-- Simple header with scrollable tabs. -->
<div flex="70" flex-offset="15" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" ui-view style="height:100%;">
    <md-content layout-padding layout="column" flex>
        <md-card-actions layout="row" >
            <span flex></span>
            <md-button  class="md-raised md-primary" aria-label="Edit" >
                <md-icon>edit</md-icon>
                <span translate>Edit</span>
            </md-button>
            <md-button  class="md-raised" aria-label="Print" >
                <md-icon>print</md-icon>
                <span translate>Print</span>
            </md-button>
        </md-card-actions>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate>Position details: {{position.value}}</span>
                    <md-header class="md-no-sticky">{{position.structure.value}}</md-header>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2" translate>Entitled</p>
                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{position.value}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>group</md-icon>
                        <p class="md-body-2" translate>Workstation code</p>
                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{position.code}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>local_hospital</md-icon>
                        <p class="md-body-2" translate>Required effective</p>
                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{position.requiredEffective}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>local_hospital</md-icon>
                        <p class="md-body-2" translate>Actual effective</p>
                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">0</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>phone</md-icon>
                        <p class="md-body-2" translate>Structure</p>
                        <p class="md-body-1 md-secondary" style="white-space: nowrap;">{{position.structure.name}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>email</md-icon>
                        <p class="md-body-2" translate>Structure code </p>
                        <p class="md-body-1 md-secondary">{{position.structure.code}}</p>
                    </md-list-item>
                    
                </md-list>
            </md-card-content>
        </md-card>

        <!--Required Skills-->
        <md-card>
            <md-card-title class="card-container">
                <md-card-title-text class="card-container-left">
                    <span class="md-headline" translate>Required profiles</span>
                </md-card-title-text>
                <md-card-actions layout="row" >
                    <span flex></span>
                    <md-button ng-click="add(position)" aria-label="Edit" >
                        <md-icon>edit</md-icon>
                        <span translate>Add or edit profiles</span>
                    </md-button>
                </md-card-actions>
            </md-card-title>
            <md-card-content>
                <md-list ng-cloak>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Administrateur Public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Management des Etablissements public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Comptabilité général des entreprises privées</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
        <!--required skills-->
        <md-card>
            <md-card-title class="card-container">
                <md-card-title-text class="card-container-left">
                    <span class="md-headline" translate>Required skills</span>
                </md-card-title-text>
                <md-card-actions layout="row" >
                    <span flex></span>
                    <md-button  aria-label="Add" >
                        <md-icon>add</md-icon>
                        <span translate>Add</span>
                    </md-button>
                    <md-button  aria-label="Edit" >
                        <md-icon>edit</md-icon>
                        <span translate>Edit</span>
                    </md-button>
                    
                </md-card-actions>
            </md-card-title>
            <md-card-content>
                <md-list ng-cloak>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Administrateur Public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Management des Etablissements public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Comptabilité général des entreprises privées</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
        <!--required Activities-->
        <md-card>
            <md-card-title class="card-container">
                <md-card-title-text class="card-container-left">
                    <span class="md-headline" translate>Position activities</span>
                </md-card-title-text>
                <md-card-actions layout="row" >
                    <span flex></span>
                    <md-button  aria-label="Add" >
                        <md-icon>add</md-icon>
                        <span translate>Add</span>
                    </md-button>
                    <md-button  aria-label="Edit" >
                        <md-icon>edit</md-icon>
                        <span translate>Edit</span>
                    </md-button>
                    
                </md-card-actions>
            </md-card-title>
            <md-card-content>
                <md-list ng-cloak>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Administrateur Public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Management des Etablissements public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Comptabilité général des entreprises privées</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
        <!--required Activities-->
        <md-card>
            <md-card-title class="card-container">
                <md-card-title-text class="card-container-left">
                    <span class="md-headline" translate>Position tasks</span>
                </md-card-title-text>
                <md-card-actions layout="row" >
                    <span flex></span>
                    <md-button  aria-label="Add" >
                        <md-icon>add</md-icon>
                        <span translate>Add</span>
                    </md-button>
                    <md-button  aria-label="Edit" >
                        <md-icon>edit</md-icon>
                        <span translate>Edit</span>
                    </md-button>
                    
                </md-card-actions>
            </md-card-title>
            <md-card-content>
                <md-list ng-cloak>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Administrateur Public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Management des Etablissements public</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <p class="md-body-2" >Comptabilité général des entreprises privées</p>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline" translate>Occupant information</span>
                    <md-header class="md-no-sticky" style="text-align: center">0 occupant à ce poste</md-header>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-list ng-cloak>
                    <md-list-item ui-sref="#">
                        <div class="avatar avatar-md md-avatar" >
                            {{"J".toUpperCase()}}
                        </div>
                        <p class="md-body-2" >John Ndoe</p>
                        <md-button class="md-secondary md-icon-button" aria-label="See" ng-click="edit({id: user._id})">
                            <md-icon aria-label="pageview">pageview</md-icon>
                            <md-tooltip>
                                <span translate>Consult</span>
                            </md-tooltip>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <div class="avatar avatar-md md-avatar" >
                            {{"N".toUpperCase()}}
                        </div>
                        <p class="md-body-2" translate>Ndoe John</p>
                        <md-button class="md-secondary md-icon-button" aria-label="See" ng-click="edit({id: user._id})">
                            <md-icon aria-label="pageview">pageview</md-icon>
                            <md-tooltip>
                                <span translate>Consult</span>
                            </md-tooltip>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <div class="avatar avatar-md md-avatar" >
                            {{"J".toUpperCase()}}
                        </div>
                        <p class="md-body-2" >John Ndoe</p>
                        <md-button class="md-secondary md-icon-button" aria-label="See" ng-click="edit({id: user._id})">
                            <md-icon aria-label="pageview">pageview</md-icon>
                            <md-tooltip>
                                <span translate>Consult</span>
                            </md-tooltip>
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item ui-sref="#">
                        <div class="avatar avatar-md md-avatar" >
                            {{"N".toUpperCase()}}
                        </div>
                        <p class="md-body-2" translate>Ndoe John</p>
                        <md-button class="md-secondary md-icon-button" aria-label="See" ng-click="edit({id: user._id})">
                            <md-icon aria-label="pageview">pageview</md-icon>
                            <md-tooltip>
                                <span translate>Consult</span>
                            </md-tooltip>
                        </md-button>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>

        <md-card-actions layout="row" >
            <span flex></span>
            <md-button  class="md-raised md-primary" aria-label="Edit" >
                <md-icon>edit</md-icon>
                <span translate>Edit</span>
            </md-button>
            <md-button  class="md-raised" aria-label="Print" >
                <md-icon>print</md-icon>
                <span translate>Print</span>
            </md-button>
        </md-card-actions>

    </md-content>


</div>
