<div ui-view >
    <div flex="70" flex-offset="15" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" style="height:100%;"> 
        <md-card>
            <form ng-submit="submit();">
                <md-card>
                    <md-card-title style="padding-bottom: 0;">
                        <md-card-title-text>
                            <span class="md-headline" translate>Structure informations</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" >
                            <md-input-container class="md-block" flex>
                                <label translate>Code</label>
                                <input ng-disabled="!new" name="code" ng-model="structure.code" required>
                                <div ng-messages="code.$error">
                                    <div ng-message="required">
                                        Structure code is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex = "80">
                                <label translate>Structure name</label>
                                <input name="fr" ng-model="structure.fr" required>
                                <div ng-messages="fr.$error">
                                    <div ng-message="required">
                                        Structure name is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label translate>Structure type</label>
                                <md-select name="type" ng-model="structure.type" required >
                                    <md-option ng-repeat="type in types" value="{{type.id}}" >
                                        {{type.name| uppercase}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="type.$error">
                                    <div ng-message="required">
                                        The structure type is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label translate>Structure rank</label>
                                <md-select name="rank" ng-model="structure.rank" required >
                                    <md-option ng-repeat="rank in ranks" value="{{rank.id}}" >
                                        {{rank.name}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="rank.$error">
                                    <div ng-message="required">
                                        The structure rang is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        
                        
                    </md-card-content>
                </md-card>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="home.administration.structures"><span translate>Cancel</span></md-button>
                    <md-button class="md-raised md-accent" type="submit"><span translate>Save</span></md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</div>