<div ui-view >
    <div flex="70" flex-offset="15" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" style="height:100%;"> 
        <md-card>
            <form ng-submit="submit();">
                <md-card>
                    <md-card-title style="padding-bottom: 0;">
                        <md-card-title-text>
                            <span class="md-headline" translate>Structure informations</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <div layout="row" >
                            <md-input-container class="md-block" flex = "70">
                                <label translate>Structure name</label>
                                <input name="nom" ng-model="structure.nom" required>
                                <div ng-messages="nom.$error">
                                    <div ng-message="required">
                                        Structure name is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label translate>Structure code</label>
                                <input name="code" ng-model="structure.code" required>
                                <div ng-messages="code.$error">
                                    <div ng-message="required">
                                        Structure code is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label translate>Structure type</label>
                                <md-select name="idTypeStructure" ng-model="structure.idTypeStructure" required >
                                    <md-option ng-repeat="type in types" value="{{type.id}}" >
                                        {{type.intitule| uppercase}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="idTypeStructure.$error">
                                    <div ng-message="required">
                                        The structure type is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label translate>Structure rang</label>
                                <md-select name="idRangStructure" ng-model="structure.idRangStructure" required >
                                    <md-option ng-repeat="rang in rangs" value="{{rang.id}}" >
                                        {{rang.intitule}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="idRangStructure.$error">
                                    <div ng-message="required">
                                        The structure rang is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex ng-show="structure.idRangStructure != undefined">
                                <label translate>Rattached to</label>
                                <md-select name="idPere" ng-model="structure.idPere" required data-md-container-class="selectdemoSelectHeader">
                                    <md-select-header class="demo-select-header">
                                        <input ng-model="searchTerm1" ng-keydown="stopPropagation($event)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                                               type="search"
                                               placeholder="Rechercher une structure (nom ou sigle) ..."
                                               class="demo-header-searchbox md-text">
                                    </md-select-header>
                                    <md-option ng-repeat="pere in peres|filter:searchTerm1" value="{{pere.id}}">
                                        {{pere.nom| uppercase}} ({{pere.code| uppercase}})
                                    </md-option>
                                </md-select>
                                <div ng-messages="idPere.$error">
                                    <div ng-message="required">
                                        This is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block" flex>
                                <label translate>Localization (Region)</label>
                                <md-select name="regions" ng-model="structure.region" required >
                                    <md-option ng-repeat="region in regions" value="{{region.id}}" >
                                        {{region.intitule}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="regions.$error">
                                    <div ng-message="required">
                                        The structure region is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex>
                                <label translate>Localization (division)</label>
                                <md-select name="division" ng-model="structure.idDepartement" required>
                                    <md-option ng-repeat="division in divisions" value="{{division.id}}">
                                        {{division.nom}}
                                    </md-option>
                                </md-select>
                                <div ng-messages="division.$error">
                                    <div ng-message="required">
                                        The structure division is required to proceed on next step.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-card-content>
                </md-card>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="goToTab('staff/list');"><span translate>Cancel</span></md-button>
                    <md-button class="md-raised md-accent" type="submit"><span translate>Done</span></md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</div>