<div flex="90" flex-offset="5" flex-md="60" flex-offset-md="20" flex-sm="70" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" ui-view style="height:100%;">    
    <md-toolbar class="toolbar-filter">
        <div class="md-toolbar-tools md-default">
            <div flex >

            </div>
            <md-button class="md-icon-button" aria-label="Print" ng-click="openPdf()">
                <md-icon>print</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Print</span>
                </md-tooltip>
            </md-button>
            <md-button class="md-icon-button" aria-label="search" ng-click="search = !search;$parent.setFocus('search');" ng-hide="search == undefined" >
                <md-icon class="material-icons" >search</md-icon>
                <md-tooltip>
                    <span translate>Search</span>
                </md-tooltip>
            </md-button>
        </div>
    </md-toolbar>

    <md-card>
        <md-toolbar class="md-table-toolbar md-default" >
            <div class="md-toolbar-tools">
                <md-icon>search</md-icon>
                <form flex>
                    <input type="text" name="search" ng-model="structureFilter" placeholder="{{ 'Search among structure...' | translate }}">
                </form>

                <md-button class="md-icon-button" ng-click="search = false" aria-label="close">
                    <md-icon class="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="code" translate style="min-width: 60px">Code</th>
                        <th md-column md-order-by="name" translate style="min-width: 200px">Name</th>
                        <th md-column md-order-by="rankValue" translate>Hierarchical rank</th>
                        <th md-column md-order-by="typeValue" translate style="min-width: 200px">Type</th>
                        <th md-column md-order-by="workstations" translate >Workstations </th>
                        <th md-column md-order-by="vacancies" translate >Vacancies</th>
                        <th md-column translate ng-if="account.role == '1' || account.role == '3' || account.role == '4'">Actions</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row data-ng-repeat="structure in structures.data| filter:structureFilter | orderBy: query.order" ng-click="edit({id:structure._id})">
                        <td md-cell>{{structure.code| uppercase | unknown}}</td>
                        <td md-cell style="min-width: 200px">{{structure.name}} </td>
                        <td md-cell>{{structure.rankValue| unknown}}</td>
                        <td md-cell>{{structure.typeValue| unknown}}</td>
                        <td md-cell><span class="diy-chip" ng-class="{'green': true}">{{structure.workstationsNb}} <small translate>positions</small></span></td>
                        <td md-cell><small class="diy-chip" ng-class="{'red': structure.vacancies > 0}">{{structure.vacancies}}</small></td>
                        <td md-cell ng-if="account.role == '1' || account.role == '3' || account.role == '4'">
                            <md-button ng-click="edit(position)" aria-label="Edit"  >
                                <md-icon>edit</md-icon>
                                <md-tooltip md-direction="top">
                                    <span translate>Edit</span>
                                </md-tooltip>
                                <span translate>Edit</span>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination  md-limit="query.limit" md-limit-options="[10, 15, 50, 100]" md-page="query.page" md-total="{{structures.count}}" 
                              md-page-select="true" md-label="{{label}}" md-on-paginate="load">

    </md-card>
</div>
<div style="margin-bottom: 100px"></div>
<md-button  class="md-fab md-accent pos-fix md-fab-bottom-right " style="position: fixed; margin-bottom: 50px" aria-label="Add" ui-sref="home.administration.structures.new" ng-if="account.role == '1' || account.role == '4'">
    <md-icon>add</md-icon>
    <md-tooltip md-direction="top">
        <span translate>New</span>
    </md-tooltip>
</md-button>
