<md-card class="widget">
    <md-card-title>
        <md-card-title-text layout="row">
            <md-button class="md-icon-button info-labs" >
                <md-icon>{{$parent.$parent.$parent.selectedLaboratory && $parent.$parent.$parent.selectedLaboratory._id != -1 ? 'fullscreen_exit' : 'fullscreen'}}</md-icon>
                <md-tooltip md-direction="bottom">
                    <span><span translate>Data of :</span> all structure</span>
                </md-tooltip>
            </md-button>
            <span class="md-headline">
                <span translate>Ratio Femmes-Homme (Non fonctionnaires)</span>
            </span>
            <span flex></span>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="$parent.$parent.exportPNG('personnels_by_status', 'Personnels by status' | translate);"><md-icon md-menu-align-target>photo</md-icon> <span translate>Export</span> <small>(png)</small></md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="loading" data-ng-if="loadingChart">
            <md-progress-circular md-mode="indeterminate" md-diameter="60" class="md-accent"></md-progress-circular>
        </div>
        <div ng-class="{'opacity1': loadingChart}">
            <canvas id="personnels_by_status" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-options="options" chart-colors="colors"></canvas>
        </div>
        <small class="daterange">-------</small>
    </md-card-content>
</md-card>