<md-card class="widget widget-data">
    <md-card-title>
        <md-card-title-text layout="row">
            <md-button class="md-icon-button info-labs">
                <md-icon>fullscreen</md-icon>
                <md-tooltip md-direction="bottom">
                    <span><span translate>Data of </span> <span translate>all structure</span></span>
                </md-tooltip>
            </md-button>
            <span class="md-headline" translate>Corps of Treasury</span>
            <span flex></span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="loading" data-ng-if="loadingChart">
            <md-progress-circular md-mode="indeterminate" md-diameter="30" class="md-accent"></md-progress-circular>
        </div>
        <div ng-class="{'opacity1': loadingChart}">
            <md-list>
                <div>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"><span translate>Inspecteurs Principaux du Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[0]}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"><span translate>Inspecteurs du Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[1]}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"><span translate>Contrôleurs Principaux du Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[2]}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"><span translate>Contrôleurs du Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[3]}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"> <span translate>Contrôleurs Adjoints du Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[4]}}</p>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon>perm_contact_calendar</md-icon>
                        <p class="md-body-2"> <span translate>Commis of  Trésor</span></p>
                        <p class="md-body-1 md-secondary"> {{data[5]}}</p>
                    </md-list-item>
                </div>
            </md-list>
        </div>
    </md-card-content>
</md-card>