<md-card class="widget widget-data">
    <md-card-title>
        <md-card-title-text layout="row">
            <md-button class="md-icon-button info-labs">
                <md-icon>fullscreen</md-icon>
                <md-tooltip md-direction="bottom">
                    <span><span translate>Data of </span> <span translate>all structure</span></span>
                </md-tooltip>
            </md-button>
            <span class="md-headline" translate>Personal under the Labor Code</span>
            <span flex></span>
            <div cardselect selected="selected"></div>
            <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdMenu.open($event)" ng-disabled="$parent.$parent.$parent.kernel.isLoading == true">
                    <md-icon>more_vert</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="$parent.$parent.exportXLSX(export());">
                            <md-icon class="material-icons-outlined" md-menu-align-target>get_app</md-icon> <span translate>Export</span> <small>(xlsx)</small>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <div class="loading" data-ng-if="loadingChart">
            <md-progress-circular md-mode="indeterminate" md-diameter="30" class="md-accent"></md-progress-circular>
        </div>
        <div ng-class="{'opacity1': loadingChart}">
            <md-table-container style="height: 330px; overflow: scroll">
                <table md-table md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="id" translate>Grade </th>
                            <th md-column md-order-by="nom" translate>Man</th>
                            <th md-column md-order-by="code" translate>Women</th>
                            <th md-column md-order-by="rang[0].intitule" translate>Total</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="stat in statistics">
                            <td md-cell  >{{stat.category}}</td>
                            <td md-cell>{{stat.totalMen}} </td>
                            <td md-cell>{{stat.totalWoman}}</td>
                            <td md-cell>{{stat.totalMen + stat.totalWoman}}</td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </div>
    </md-card-content>
</md-card>