
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="index.html" class="breadcrumb-item" ><i class="icon-home2 mr-2"></i> <span translate> Home </span></a>
                <a href="#" ng-repeat="breadcrumb in kernel.breadcrumbs" class="breadcrumb-item" ng-if="!$last">{{breadcrumb| translate}}</a> 
                <span class="breadcrumb-item active" ng-repeat="breadcrumb in kernel.breadcrumbs"  ng-if="$last">{{breadcrumb| translate}}</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <!--        <div class="header-elements d-none">
                    <div class="breadcrumb justify-content-center">
                        <a href="#" class="breadcrumb-elements-item">
                            Link
                        </a>
        
                        <div class="breadcrumb-elements-item dropdown p-0">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                Dropdown
                            </a>
        
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Action</a>
                                <a href="#" class="dropdown-item">Another action</a>
                                <a href="#" class="dropdown-item">One more action</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item">Separate action</a>
                            </div>
                        </div>
                    </div>
                </div>-->
    </div>
</div>
<!--/page header--> 

<div class="page-header-content header-elements-md-inline">
    <div class="page-title d-flex">
        <h4>
            <i class="icon-arrow-left52 mr-2"></i> 
            <span class="font-weight-semibold" translate>Home</span> -
            <span class="breadcrumb-item active" ng-repeat="breadcrumb in kernel.breadcrumbs" ng-if="$last" >{{breadcrumb| translate}}</span>
        </h4>
        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
    </div>

    <div class="header-elements d-none" style="margin-top: -10px">
        <div class="d-flex justify-content-center" >
            <a ui-sref="home.staffs.statofsanctions" class="btn btn-link btn-float text-default" ng-if="true"><i class="icon-bars-alt text-primary"></i><span>Statistics</span></a>
        </div>
    </div>
</div>