<div class="admx-contentheader">
    <div class="admx-contentheader__inner">
        <div class="admx-breadcrumb">
            <a class="admx-breadcrumb__item" ui-sref="home.dashboard.main">
                <i class="icon-home2"></i>
                <span translate>Home</span>
            </a>

            <span class="admx-breadcrumb__sep" ng-if="kernel.breadcrumbs && kernel.breadcrumbs.length" aria-hidden="true">/</span>

            <span class="admx-breadcrumb__item" ng-repeat="breadcrumb in kernel.breadcrumbs" ng-if="!$last">
                {{breadcrumb | translate}}
                <span class="admx-breadcrumb__sep" aria-hidden="true">/</span>
            </span>

            <span class="admx-breadcrumb__current" ng-repeat="breadcrumb in kernel.breadcrumbs" ng-if="$last">
                {{breadcrumb | translate}}
            </span>
        </div>

        <div class="admx-contentheader__title" ng-if="kernel.breadcrumbs && kernel.breadcrumbs.length">
            {{kernel.breadcrumbs[kernel.breadcrumbs.length - 1] | translate}}
        </div>

        <div class="admx-contentheader__meta"></div>
    </div>
</div>
