<div class="admx-sidebar-backdrop" ng-click="closeSidebar()"></div>

<aside class="admx-sidebar" aria-label="Sidebar navigation">
    <div class="admx-sidebar__inner">
        <div class="admx-sidebar__profile">
            <div class="avatar" ng-style="{'background-color': account.avatar}">
                {{(account.firstname || '?').substr(0, 1).toUpperCase()}}
            </div>
            <div class="admx-sidebar__profile-text">
                <div class="admx-sidebar__profile-name">{{account.firstname}} {{account.lastname}}</div>
                <div class="admx-sidebar__profile-email">{{account.email}}</div>
            </div>
            <div class="admx-sidebar__version" title="{{kernel.version}}">
                <span class="admx-pill">{{kernel.version}}</span>
            </div>
        </div>

        <nav aria-label="Main navigation">
            <div ng-repeat="n in nav">
                <div class="admx-nav__header" ng-if="n.header != '' && n.items.length > 0">{{n.header}}</div>

                <div ng-repeat="item in n.items">
                    <a class="admx-nav__link" ng-if="!item.items || item.items.length === 0" ui-sref="{{item.href}}" ui-sref-active="is-active" ng-click="onNavClick()">
                        <span class="admx-nav__icon"><i class="{{item.icomoon}}"></i></span>
                        <span class="admx-nav__label">{{item.name}}</span>
                    </a>

                    <div ng-if="item.items && item.items.length > 0">
                        <a class="admx-nav__link admx-nav__link--parent" ng-if="item.href" ui-sref="{{item.href}}" ng-click="onNavClick()" ng-class="{'is-active': isSubmenuOpen(item)}">
                            <span class="admx-nav__icon"><i class="{{item.icomoon}}"></i></span>
                            <span class="admx-nav__label">{{item.name}}</span>
                            <button class="admx-nav__caret" type="button" ng-click="toggleSubmenu(item, $event)" aria-label="Toggle submenu">
                                <i class="icon-chevron-down" ng-if="!isSubmenuOpen(item)"></i>
                                <i class="icon-chevron-up" ng-if="isSubmenuOpen(item)"></i>
                            </button>
                        </a>

                        <div class="admx-nav__link admx-nav__link--parent" ng-if="!item.href" ng-class="{'is-active': isSubmenuOpen(item)}">
                            <span class="admx-nav__icon"><i class="{{item.icomoon}}"></i></span>
                            <span class="admx-nav__label">{{item.name}}</span>
                            <button class="admx-nav__caret" type="button" ng-click="toggleSubmenu(item, $event)" aria-label="Toggle submenu">
                                <i class="icon-chevron-down" ng-if="!isSubmenuOpen(item)"></i>
                                <i class="icon-chevron-up" ng-if="isSubmenuOpen(item)"></i>
                            </button>
                        </div>

                        <div class="admx-nav__children" ng-if="isSubmenuOpen(item)">
                            <a class="admx-nav__child" ng-repeat="subItem in item.items" ui-sref="{{subItem.href}}" ui-sref-active="is-active" ng-click="onNavClick()">
                                {{subItem.name}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="admx-sidebar__footer">
            <button class="admx-sidebar__collapse" type="button" ng-click="toggleSidebarCollapse()">
                <i class="icon-drag-left-right"></i>
                <span translate>Collapse</span>
            </button>
            <div class="admx-sidebar__brand">
                <span>©</span>
                <span>Codabe</span>
                <span aria-hidden="true">•</span>
                <span>{{kernel.title}}</span>
            </div>
        </div>
    </div>
</aside>
