<div class="loading-general" layout="row" layout-sm="column" layout-align="space-around" ng-if="kernel.loading < 100">
    <md-progress-circular md-mode="{'determinate': kernel.loading > 0 && kernel.loading < 100, 'indeterminate': kernel.loading === 0 || kernel.loading === 100" md-diameter="30" class="md-accent" value="{{kernel.loading}}"></md-progress-circular>
</div>
<md-toolbar ng-class="{'grey-toolbar': !kernel.isMain}">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav()" class="md-icon-button">
            <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
        </md-button>
        <a ng-if="kernel.isMain" ui-sref="home.dashboard.main" style="height: 30px;margin-right: 6px;">
            <img src="{{kernel.logo.small}}" class="logo"/>
        </a>
        <a ng-if="kernel.isMain" ui-sref="home.dashboard.main">
            <h3>{{kernel.title}}</h3>
        </a>
        <a ng-if="!kernel.isMain">
            <h3>
                {{kernel.breadcrumb[0]}} 
                <span ng-repeat="breadcrumb in kernel.breadcrumbs">{{breadcrumb}}<md-icon ng-if="!$last">keyboard_arrow_right</md-icon></span>
            </h3>
        </a>
        <span flex></span>
        <md-button class="md-icon-button" ng-show="account.showTextoStatus">
            <md-tooltip md-direction="bottom">
                {{texto.tooltip}}
            </md-tooltip>
            <md-icon aria-label="" ng-style="{color: texto.color}" class="material-icons">{{texto.icon}}<!--sim_card_alert--></md-icon>
        </md-button>
        <md-button ng-click="toggleNotifications()" class="md-icon-button">
            <md-icon aria-label="" class="material-icons">notifications</md-icon>
            <md-tooltip>
                <span translate>Notifications</span>
            </md-tooltip>
            <div ng-if="pending > 0" class="badge">{{pending}}</div>
        </md-button>
    </div>
</md-toolbar>
<md-sidenav md-component-id="left" class="md-sidenav-left md-whiteframe-z2">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="row">
            <div layout="column" class="md-toolbar-tools-bottom inset">
                <div class="avatar" ng-style="{'background-color': account.avatar}">
                    {{account.firstname.substr(0, 1).toUpperCase()}}
                </div>
                <span></span>
                <div>{{account.firstname}} {{account.lastname}}</div>
                <div>{{account.email}}</div>
            </div>
            <div flex></div>
            <div layout="row" layout-align="center end" class="md-toolbar-tools-bottom inset">
                <md-button ng-click="go('home.about');" class="md-accent" style="text-transform: inherit;">{{kernel.version}}</md-button>
            </div>
        </div>
    </md-toolbar>
    <md-list>
        <div ng-repeat="n in nav">
            <md-subheader ng-if="n.header != '' && n.items.length>0">{{n.header}}</md-subheader>
            <md-list-item ng-repeat="item in n.items" class="sidenav-item" ng-click="go(item.href);">
                <md-icon ng-if="item.icon" aria-label="{{item.label}}" class="material-icons">{{item.icon}}</md-icon>
                <img ng-if="item.img" ng-src="../img/logos/{{item.img}}.png" style="width:24px;margin-top: 16px;margin-bottom: 12px;margin-right: 32px;">
                <p style="padding-top: 5px;">{{item.name}}</p>
            </md-list-item>
            <md-divider ng-if="!$last && n.items.length>0"></md-divider>
        </div>
    </md-list>
</md-sidenav>
<md-sidenav md-component-id="right" class="md-sidenav-right md-whiteframe-4dp">
    <md-toolbar class="md-warn">
        <h1 class="md-toolbar-tools" translate>Notifications</h1>
    </md-toolbar>
    <md-content layout-padding>
        <md-list class="md-dense" style="padding: 0;">
            <div ng-repeat="notification in notifications">
                <md-list-item class="md-3-line md-long-text"  style="padding: 0;margin: 0;" ng-click="read(notification);" ng-class="{'read': notification.read}">
                    <!--<img ng-src="../img/notifications/{{notification.type}}.png" class="md-avatar" alt="{{notification.type}}">-->
                    <md-icon aria-label="" class="material-icons">notifications</md-icon>
                    <div class="md-list-item-text" style="padding: 0;">
                        <h3>
                            {{ notification.author }} <span class="md-caption" style="color:#CF6935;right: 16px;position: absolute;">{{ notification.created | smartDatetime}}</span>
                        </h3>
                        <p>{{ notification.abstract }}</p>
                    </div>
                </md-list-item>
                <md-divider ng-if="!$last"></md-divider>
            </div>
        </md-list>
        <div layout="column" layout-align="center center" data-ng-if="helper.length !== 0" style="opacity:0.2;">
            <md-icon aria-label="{{helper.title}}" class="material-icons" style="font-size: 120px;height: 120px;width: 120px;">{{helper.icon}}</md-icon>
            <h3 class="md-subhead">{{helper.title}}</h3>
        </div>
    </md-content>
</md-sidenav>