<md-dialog flex="40">
    <form ng-submit="save()">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>Affectation to position</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <md-card>

                <md-card-content>
                    <div layout="row">
                        <md-input-container flex>
                            <label translate>Select a personnel</label>
                            <md-select name="selectedPersonnel" required ng-model="selectedPersonnel"  style="min-width: 150px;">
                                <md-option ng-repeat="perso in personnels" value="{{perso._id}}" >
                                    {{perso.fname?perso.fname: perso.name.family[0] }} {{perso.fname?"": perso.name.given[0]}} <small>{{"(Mle: " + (perso.identifier) + ")"}}</small>

                                </md-option>
                            </md-select>
                            <div ng-messages="selectedPersonnel.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <md-input-container class="md-block" flex>
                        <label translate>Type of structure</label>
                        <md-select name="typeStructre" ng-model="typeStructre" required ng-change="loadStructures(typeStructre)">
                            <md-option ng-repeat="t in types" value="{{t.id}}" >
                                {{t.name}} 
                            </md-option>
                        </md-select>
                        <div ng-messages="nature.$error">
                            <div ng-message="required" translate>
                                This field is required to proceed on next step.
                            </div>
                        </div>
                    </md-input-container>
                    <div layout="row" >
                        <md-input-container flex>
                            <label translate>Structure</label>
                            <md-select name="structure" ng-disabled="positionFromParams" required ng-model="structure._id" ng-change="getStructure(structure._id)" style="min-width: 150px;">
                                <md-option ng-repeat="struc in structures | filter:structureFilter" value="{{struc._id}}" >
                                    {{struc.name}} <em>(code: {{struc.code}})</em>
                                </md-option>
                            </md-select>
                            <div ng-messages="structure.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" >
                        <md-input-container flex>
                            <label translate>Sub structure</label>
                            <md-select name="substructure" ng-disabled="positionFromParams" required ng-model="substructure"  style="min-width: 150px;">
                                    <md-option ng-repeat="substruc in directions" value="{{substruc.code}}" >
                                        {{substruc.name}} <em>(code: {{substruc.code}})</em>
                                    </md-option>
                            </md-select>
                            <div ng-messages="substructure.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" ng-if="structures">
                        <md-input-container class="md-block" flex>
                            <label translate>New position </label>
                            <md-select name="newPosition" ng-disabled="positionFromParams" ng-model="affectation.positionId" required data-md-container-class="selectdemoSelectHeader" >
                                <md-option ng-repeat="position in positions|filter:searchTerm" ng-s value="{{position._id}}">
                                    {{position.name}} ({{position.code| uppercase}})<br/>
                                    <smal ng-if='position.status === "Pourvue"' style="font-size: 8; color: #666666">Occupant: {{position.helderName}}, Mle: {{position.helderMatricule}} </smal>
                                    <smal ng-if='position.status === "Non pourvue"' style="font-size: 8; color: #666666" >Non pourvue</smal>
                                </md-option>
                            </md-select>
                            <div ng-messages="newPosition.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>

                    </div>
                    <div layout="row" ng-if="affectation.positionId">
                        <md-input-container class="md-block" flex>
                            <label translate>Rank </label>
                            <md-select name="rank" ng-disabled="rankFromParams" ng-model="affectation.rank" required data-md-container-class="selectdemoSelectHeader" >
                                <md-option ng-repeat="rank in positionRanks|filter:searchTerm" value="{{rank.id}}">
                                    {{rank.name | uppercase}}
                                </md-option>
                            </md-select>
                            <div ng-messages="rank.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>

                    </div>
                    <div layout="row" ng-if="substructure">
                        <md-input-container class="md-block" flex>
                            <label translate>Type of movement</label>
                            <md-select name="mouvement" ng-model="affectation.mouvement" required >
                                <md-option ng-repeat="typem in mouvements" value="{{typem.id}}" >
                                    {{typem.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="mouvement.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label translate>Nature</label>
                            <md-select name="nature" ng-model="affectation.nature" required >
                                <md-option ng-repeat="natureacte in naturesAct" value="{{natureacte.id}}" >
                                    {{natureacte.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="nature.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" ng-if="substructure">
                        <md-input-container class="md-block" flex>
                            <label translate>Reference or Number</label>
                            <input name="number" ng-model="affectation.numAct" required>
                            <div ng-messages="number.$error">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div flex-gt-sm="50" ng-if="substructure">
                        <md-checkbox ng-model="affectation.isCurrent" ng-checked="affectation.isCurrent" aria-label="Checkbox 1" >
                            Currently holds this position 
                        </md-checkbox>
                    </div>
                    <div layout="row" ng-if="substructure">
                        <md-input-container class="datepicker-xl" >
                            <label translate>Signature date</label>
                            <md-datepicker name="signatureDate" class="md-block"  ng-model="affectation.signatureDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="signatureDate">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="datepicker-xl" >
                            <label translate>Start</label>
                            <md-datepicker name="date" class="md-block"  ng-model="affectation.startDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="date">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="datepicker-xl"  ng-hide="affectation.isCurrent">
                            <label translate>End</label>
                            <md-datepicker name="date" class="md-block"  ng-model="affectation.endDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="date">
                                <div ng-message="required" translate>
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>

                    </div>
                </md-card-content>
            </md-card>


        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close();"><span translate>Cancel</span></md-button>
            <md-button class="md-raised md-accent" type="submit"><span translate>Save</span></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>