<md-dialog flex="50">
    <form ng-submit="save()">
        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <h2>New disciplinary sanction</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            <md-card>
                <md-card-title style="padding-bottom: 0;">
                    <md-card-title-text>
                        <span><i> {{personnel.fname?personnel.fname:personnel.name.family[0] + " " + personnel.name.given[0]}} - {{personnel.identifier}}</i></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row" >
                        <md-input-container class="md-block" flex>
                            <label translate>Select a  sanction type</label>
                            <md-select name="sanction" ng-model="sanction.type" required >
                                <md-option ng-repeat="st in sanctionTypes" value="{{st.id}}" >
                                    {{st.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="sanction.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" >
                        <md-input-container class="md-block" flex>
                            <label translate>Select a  sanction</label>
                            <md-select name="sanction" ng-model="sanction.sanction" required >
                                <md-option ng-repeat="sanction in sanctions" value="{{sanction.id}}" >
                                    {{sanction.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="sanction.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" ng-if="selectedSanctions && selectedSanctions.quantity === true">
                        <md-input-container class="md-block" flex>
                            <label translate>Select duration</label>
                            <input name="duration" type="number" ng-model="sanction.duration" required>
                            <div ng-messages="duration.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label translate>Select the  period</label>
                            <md-select name="period" ng-model="sanction.period" required >
                                <md-option ng-repeat="period in periods" value="{{period.id}}" >
                                    {{period.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="period.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" >
                        <md-input-container class="datepicker-xl" flex style="width: 200px;">
                            <label translate>Start date</label>
                            <md-datepicker name="startDate" class="md-block"  ng-model="sanction.startDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="startDate">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="datepicker-xl" flex style="width: 200px;">
                            <label translate>End date</label>
                            <md-datepicker name="endDate" class="md-block"  ng-model="sanction.endDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="endDate">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>
            <md-card>
                <md-card-title style="padding-bottom: 0;">
                    <md-card-title-text>
                        <span class="md-headline" translate>Administrative act</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div layout="row" >
                        <md-input-container class="md-block" flex>
                            <label translate>Nature</label>
                            <md-select name="nature" ng-model="sanction.nature" required >
                                <md-option ng-repeat="nature in natures" value="{{nature.id}}" >
                                    {{nature.name}} 
                                </md-option>
                            </md-select>
                            <div ng-messages="nature.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex>
                            <label translate>Number of reference</label>
                            <input name="numAct" ng-model="sanction.referenceNumber" required>
                            <div ng-messages="numAct.$error">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" >
                        <md-input-container class="datepicker-xl" flex style="width: 200px;">
                            <label translate>Date of signature</label>
                            <md-datepicker name="dateofSignature" class="md-block"  ng-model="sanction.dateofSignature" md-max-date="max" required style="width: 200px;"></md-datepicker>
                            <div ng-messages="dateofSignature">
                                <div ng-message="required">
                                    This field is required to proceed on next step.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label translate>Signatory</label>
                            <input name="signatory" ng-model="sanction.Signatory" >
                        </md-input-container>

                        <md-input-container class="md-block" flex>
                            <label translate>Reason</label>
                            <input name="comment" ng-model="sanction.comment" >
                        </md-input-container>
                    </div>
                </md-card-content>
            </md-card>

        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="close();"><span translate>Cancel</span></md-button>
            <md-button class="md-raised md-accent" type="submit"><span translate>Save</span></md-button>
        </md-dialog-actions>
    </form>
</md-dialog>