<div ui-view >
    <div flex="80" flex-offset="10" flex-md="70" flex-offset-md="20" flex-sm="80" flex-offset-sm="15" flex-xs="100" flex-offset-xs="0" style="height:100%;"> 
        <md-card>
            <md-stepper-card-content class="md-no-padding">
                <md-steppers md-dynamic-height md-disable-tabs-behavior="true" md-stretch-steppers="always" md-selected="selectedStep" md-busy-text="'Processing...'" md-busy="showBusyText">
                    <md-step label="Personnal info" md-complete="stepData[0].data.completed" ng-disabled="stepProgress < 1">
                        <md-step-body>
                            <form name="step1" ng-submit="submit()">
                                <md-content class="md-padding">
                                    <md-card>
                                        <md-card-title style="padding-bottom: 0;">
                                            <md-card-title-text>
                                                <span class="md-headline" translate>Identification</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Last name</label>
                                                    <input name="name" ng-model="personnel.name.family[0]" required>
                                                    <div ng-messages="step1.name.$error">
                                                        <div ng-message="required">
                                                            User name is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>First name</label>
                                                    <input name="fname" ng-model="personnel.name.given[0]" >
                                                    <div ng-messages="step1.firsname.$error">
                                                        <div ng-message="required">
                                                            User first name is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout="row" >
                                                <div flex>
                                                    <md-input-container flex-gt-sm>
                                                        <md-radio-group ng-model="personnel.gender" required layout="row">
                                                            <md-radio-button value="M"><span translate>Male</span></md-radio-button>
                                                            <md-radio-button value="F"><span translate>Female</span></md-radio-button>
                                                        </md-radio-group>
                                                        <div ng-messages="step1.gender.$error">
                                                            <div ng-message="required">
                                                                The gender is required to proceed on next step.
                                                            </div>
                                                        </div>
                                                    </md-input-container>
                                                </div>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Family situation</label>
                                                    <md-select ng-model="personnel.maritalStatus" required>
                                                        <md-option ng-repeat="familySituation in familySituations" value="{{familySituation.id}}">
                                                            {{familySituation.value}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.familySituation.$error">
                                                        <div ng-message="required">
                                                            Family situation is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Spouse's name</label>
                                                    <input ng-model="personnel.partner">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Number of child</label>
                                                    <input ng-model="personnel.children">
                                                </md-input-container>
                                            </div>

                                            <div layout="row" >
                                                <md-input-container class="datepicker-xl" flex >
                                                    <label translate>Birth date</label>
                                                    <md-datepicker name="birthDate" class="md-block"  ng-model="personnel.birthDate" md-max-date="max" required ></md-datepicker>
                                                    <div ng-messages="step1.birthDate.$error">
                                                        <div ng-message="required">
                                                            User birth date is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Birth place</label>
                                                    <input name="birthPlace" ng-model="personnel.birthPlace" required>
                                                    <div ng-messages="step1.birthPlace.$error">
                                                        <div ng-message="required">
                                                            The birth place is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Father's name</label>
                                                    <input ng-model="personnel.father">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Mother's name</label>
                                                    <input ng-model="personnel.mother">
                                                </md-input-container>
                                            </div>

                                            <div layout="row">
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Region</label>
                                                    <md-select name="regions" ng-model="personnel.address[0].region" required >
                                                        <md-option ng-repeat="region in regions" value="{{region.id}}" >
                                                            {{region.name}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.regions.$error">
                                                        <div ng-message="required">
                                                            The original region is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>division</label>
                                                    <md-select name="division" ng-model="personnel.address[0].department" required>
                                                        <md-option ng-repeat="department in departments" value="{{department.id}}">
                                                            {{department.name}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.division.$error">
                                                        <div ng-message="required">
                                                            The division is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Arrondissement</label>
                                                    <md-select name="arrondissement" ng-model="personnel.address[0].arrondissement" required>
                                                        <md-option ng-repeat="arrondissement in arrondissements" value="{{arrondissement.id}}">
                                                            {{arrondissement.name}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.arrondissement.$error">
                                                        <div ng-message="required">
                                                            The arrondissement is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>

                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>CNI N°</label>
                                                    <input name="cniId" ng-model="personnel.cni.identifier" required>
                                                    <div ng-messages="step1.cniId.$error">
                                                        <div ng-message="required" translate>
                                                            The CNI ID is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="datepicker-xl" flex>
                                                    <label translate>CNI Delivered on</label>
                                                    <md-datepicker name="cniDeliveredOn" class="md-block"  ng-model="personnel.cni.date" md-max-date="max" required></md-datepicker>
                                                    <div ng-messages="step1.cniDeliveredOn.$error">
                                                        <div ng-message="required" translate>
                                                            The CNI delivered date is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                            </div>
                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>CNI Delivered at</label>
                                                    <input name="cniDeliveredAt" ng-model="personnel.cni.city" required>
                                                    <div ng-messages="step1.cniDeliveredAt.$error">
                                                        <div ng-message="required" translate>
                                                            The CNI delivered at is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>CNI Delivered by</label>
                                                    <input ng-model="personnel.cni.by">
                                                </md-input-container>
                                            </div>
                                            <div layout="row">
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Phone number</label>
                                                    <input name="tphoneNumber" ng-model="personnel.telecom[0].value" type="tel" required>
                                                    <div ng-messages="step1.tphoneNumber.$error">
                                                        <div ng-message="required" translate>
                                                            The phone number is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Email</label>
                                                    <input type="email" ng-model="personnel.telecom[1].value">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Person to contact</label>
                                                    <input ng-model="personnel.telecom[2].personToContact">
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Person to contact phone number</label>
                                                    <input ng-model="personnel.telecom[2].value">
                                                </md-input-container>
                                            </div>

                                        </md-card-content>
                                    </md-card>

                                    <md-card>
                                        <md-card-title style="padding-bottom: 0;">
                                            <md-card-title-text>
                                                <span class="md-headline" translate>Professional information</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <h3 class="md-subhead"><span translate>History in Public Service</span></h3>
                                            <div layout="row" flex>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Recruitment act number</label>
                                                    <input name="recruitmentActNumber" ng-model="personnel.history.recruitmentActNumber" required>
                                                    <div ng-messages="step1.recruitmentActNumber.$error">
                                                        <div ng-message="required">
                                                            The recruitment act number is required.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label translate>Nature</label>
                                                    <md-select name="historyNature" ng-model="personnel.history.nature" required>
                                                        <md-option value="{{nature.id}}" ng-repeat="nature in natures" >{{nature.name}}</md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.historyNature.$error">
                                                        <div ng-message="required">
                                                            This field is required.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Original administration</label>
                                                    <input ng-model="personnel.history.originalAdministration">
                                                </md-input-container>
                                            </div>
                                            <div layout="row" flex>
                                                <md-input-container class="datepicker-xl"  flex="35">
                                                    <label translate>Administration entry date</label>
                                                    <md-datepicker name="hsignatureDate" class="md-block"  ng-model="personnel.history.signatureDate" md-max-date="max" required style="width: 200px;"></md-datepicker>
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Title of signatory</label>
                                                    <input ng-model="personnel.history.signatory">
                                                </md-input-container>
                                                <md-input-container class="datepicker-xl"  flex>
                                                    <label translate>Start date of service</label>
                                                    <md-datepicker name="hstartDate" class="md-block"  ng-model="personnel.history.startDate" md-max-date="max" required flex></md-datepicker>
                                                </md-input-container>
                                            </div>
                                            <div layout="row" flex>
                                                <md-input-container class="datepicker-xl" flex>
                                                    <label translate>Entry at MINFI</label>
                                                    <md-datepicker name="minfiEntryDate" class="md-block"  ng-model="personnel.history.minfiEntryDate" md-max-date="max" ></md-datepicker>
                                                </md-input-container>
                                            </div>

                                            <span class="md-subhead" translate>Actual situation</span>
                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Status</label>
                                                    <md-select name="personnelstatus" ng-model="personnel.status" required>
                                                        <md-option ng-repeat="sta in status" value="{{sta.id}}">
                                                            {{sta.name}}
                                                        </md-option>
                                                    </md-select>
                                                    <div ng-messages="step1.personnelstatus.$error" >
                                                        <div ng-message="required">
                                                            The status is required to proceed on next step.
                                                        </div>
                                                    </div>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Registration number (Matricul)</label>
                                                    <input ng-model="personnel.identifier" required ng-keydown="$event.keyCode != 32 ? $event : $event.preventDefault()" ng-blur="checkIfMatriculeExist()" >
                                                </md-input-container>
                                            </div>
                                            <div layout="row" >
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Corps</label>
                                                    <md-select ng-model="personnel.corps" >
                                                        <md-option ng-repeat="c in corps" value="{{c.id}}">
                                                            {{c.name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Grade</label>
                                                    <md-select  ng-model="personnel.grade" >
                                                        <md-option ng-repeat="grade in grades" value="{{grade.id}}">
                                                            {{grade.name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Category</label>
                                                    <md-select ng-model="personnel.category" >
                                                        <md-option ng-repeat="category in categories" value="{{category.id}}">
                                                            {{category.code| uppercase}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                            </div>
                                        </md-card-content>
                                    </md-card>

                                    <md-card>
                                        <md-card-title style="padding-bottom: 0;">
                                            <md-card-title-text>
                                                <span class="md-headline" translate>School &amp; Academy information</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <h3 class="md-subhead"><span translate>Educational status</span> <small>(<span translate>Highest level of education</span>)</small></h3>
                                            <md-input-container class="md-block">
                                                <label>Highest level of education</label>
                                                <md-select ng-model="personnel.qualifications.highestLevelEducation" >
                                                    <md-option ng-repeat="educationalLevel in educationLevels" value="{{educationalLevel.id}}">
                                                        {{educationalLevel.name}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <span class="md-subhead" translate>Highest degree</span>
                                            <div layout="row" flex>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Entitled</label>
                                                    <input ng-model="personnel.qualifications.schools[0].diploma">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label translate>Date</label>
                                                    <md-datepicker class="md-block"  ng-model="personnel.qualifications.schools[0].date" md-max-date="max" ></md-datepicker>
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Authority</label>
                                                    <input ng-model="personnel.qualifications.schools[0].authority">
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Domain</label>
                                                    <input ng-model="personnel.qualifications.schools[0].domain">
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Option</label>
                                                    <input ng-model="personnel.qualifications.schools[0].option">
                                                </md-input-container>
                                            </div>
                                            <span class="md-subhead" translate>Recruitment diploma <small>(<span translate>in public service</span>)</small></span>
                                            <div layout="row" flex>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Entitled</label>
                                                    <input ng-model="personnel.qualifications.schools[1].diploma">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label translate>Date</label>
                                                    <md-datepicker class="md-block"  ng-model="personnel.qualifications.schools[1].date" md-max-date="max" ></md-datepicker>
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Authority</label>
                                                    <input ng-model="personnel.qualifications.schools[1].authority">
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Domain</label>
                                                    <input ng-model="personnel.qualifications.schools[1].domain">
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Option</label>
                                                    <input ng-model="personnel.qualifications.schools[1].option">
                                                </md-input-container>
                                            </div>
                                            <h3 class="md-subhead"><span translate>Stages</span></h3>
                                            <div layout="row" ng-repeat="stage in stages" flex>
                                                <md-input-container class="md-block" flex>
                                                    <label translate>Title</label>
                                                    <input ng-model="stage.title">
                                                </md-input-container>
                                                <md-input-container class="md-block"  flex>
                                                    <label translate>Authority</label>
                                                    <input ng-model="stage.organisation">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label translate>Start</label>
                                                    <md-datepicker class="md-block"  ng-model="stage.from" md-max-date="max" ></md-datepicker>
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label translate>End</label>
                                                    <md-datepicker class="md-block"  ng-model="stage.to" md-max-date="max" ></md-datepicker>
                                                </md-input-container>
                                                <md-icon ng-show="$index < (stages.length - 1)" ng-click="removeStageLine($index)" class="md-warn" style="margin-left: 10px; margin-top: 20px;">delete</md-icon>
                                                <md-icon ng-show="(stages.length - 1) === $index" ng-click="addNewStageLine()" class="md-success"  style="margin-left: 10px; margin-top: 20px;">add_circle_outline</md-icon>
                                            </div>
                                        </md-card-content>
                                    </md-card>
                                    <md-card>
                                        <md-card-title style="padding-bottom: 0;">
                                            <md-card-title-text>
                                                <span class="md-headline" translate>Parcours professionnel</span>
                                            </md-card-title-text>
                                        </md-card-title>
                                        <md-card-content>
                                            <h3 class="md-subhead"><span translate>History of positions </span></h3>
                                            <!--//<div layout="row" ng-repeat="affectation in allAffectations" flex>-->
                                                <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
                                                       style='margin-left:5.65pt;border-collapse:collapse;border:none'>
                                                    <tr >
                                                        <td width="40%">
                                                            <p class=TableParagraph style='margin-left:5.35pt;line-height:10.95pt'><span
                                                                    lang=FR style='font-size:10.0pt'>Poste occupé / Lieu d'affectation</span></p>
                                                        </td>
                                                        <td flex>
                                                            <span translate class=TableParagraph style='margin-left:5.35pt;line-height:10.95pt'> Reference</span>
                                                        </td>
                                                        <td width="20%">
                                                            <span translate class=TableParagraph style='margin-left:5.35pt;line-height:10.95pt'> Period</span>
                                                        </td>
                                                        <td flex>
                                                            <span translate class=TableParagraph style='margin-left:5.35pt;line-height:10.95pt'> Action</span>
                                                        </td>
                                                    </tr>
                                                    
                                                    <tr  ng-repeat="affectation in allAffectations">
                                                        <td width="40%" style='font-size:10.0pt; margin-left:5.65pt;'>
                                                            <p class='TableParagraph fsuivi' style='font-size:10.0pt; margin-left:5.65pt;' ><span lang=FR  >{{affectation.newPosition.fr}} - {{affectation.structureAffectation.fr}} - {{affectation.structureAffectationFather.fr}}</span></p>
                                                        </td>
                                                        <td flex style='font-size:10.0pt; margin-left:5.65pt;'>
                                                            <p class='TableParagraph fsuivi' style='font-size:10.0pt; margin-left:5.65pt;' ><span lang=FR  >{{affectation.numAct}}</span></p>
                                                        </td>
                                                        <td width="20%" style='font-size:10.0pt; margin-left:5.65pt;'>
                                                            <span translate style='margin-left:5.35pt;line-height:10.95pt'>From: </span> <span style='font-size:10.0pt'>{{affectation.startDate | dateHuman}}</span>
                                                            <span translate>To: </span> <span style='font-size:10.0pt'>{{affectation.endDate | dateHuman}}</span>
                                                        </td>
                                                        <td width="100">
                                                            <md-icon ng-show=" ($index < (allAffectations.length - 1) || (allAffectations.length - 1) === $index) " ng-click="deleteAffectation(affectation)" class="md-warn" style="margin-left: 10px; margin-top: 20px;">delete</md-icon>
                                                            <md-icon ng-show="(allAffectations.length - 1) === $index" ng-click="newAffectation()" class="md-success"  style="margin-left: 10px; margin-top: 20px;">add_circle_outline</md-icon>
                                                        </td>
                                                    </tr>
                                                </table>
                                            <!--//</div>-->
                                        </md-card-content>
                                    </md-card>
                                </md-content>
                                <md-step-actions layout="row">
                                    <div flex layout="row" layout-align="end top">
                                        <md-button ui-sref="home.staffs.main"  ><span translate>Cancel</span></md-button>
                                        <md-button  class="md-raised md-primary" type="submit"><span translate>Save</span></md-button>
                                    </div>
                                </md-step-actions>
                            </form>
                        </md-step-body>
                    </md-step>
                </md-steppers>
            </md-stepper-card-content>
        </md-card>
    </div>
</div>



