<md-toolbar class="toolbar-filter" style="margin-bottom: 30px">
    <div class="md-toolbar-tools md-default" >
        <div flex >
            <span style="display: inline-block;margin-top: 18px;" >
                <md-input-container flex>
                    <label translate>Filter by structure</label>
                    <md-select ng-model="filters.structure"  style="min-width: 150px;">
                        <md-optgroup label="{{'Filtre by structure'| translate}}">
                            <md-option value="-" >
                                {{'All structures'| translate}}
                            </md-option>
                            <md-option ng-repeat="struc in structures| filter:onlyDirection " value="{{struc}}" >
                                {{struc.name}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </span>
        </div>
        <div flex ng-show="filters.structure">
            <span style="display: inline-block;margin-top: 18px;" >
                <md-input-container flex>
                    <label translate>Filter by sub structure</label>
                    <md-select ng-model="filters.subStructure"  style="min-width: 150px;">
                        <md-optgroup label="{{'Filtre by sub structure'| translate}}">
                            <md-option value="-" >
                                {{'All sub structures'| translate}}
                            </md-option>
                            <md-option ng-repeat="struc in structures| filter:onlySubDirection" value="{{struc}}" >
                                {{struc.name}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>

            </span>

        </div>
        <span flex></span>

        <md-button class="md-icon-button" aria-label="Print" ng-click="download()">
            <md-icon>print</md-icon>
            <md-tooltip md-direction="top">
                <span translate>Print</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="search" ng-click="search = !search;$parent.setFocus('search');" ng-hide="search == undefined" >
            <md-icon class="material-icons" >search</md-icon>
            <md-tooltip>
                <span translate>Search</span>
            </md-tooltip>
        </md-button>
        <md-button class="md-icon-button" aria-label="search" ng-click="search = !search;$parent.setFocus('search');" ng-hide="search == undefined" >
            <md-icon class="material-icons" >filter_list</md-icon>
            <md-tooltip>
                <span translate>Filter more</span>
            </md-tooltip>
        </md-button>

        <md-menu>
            <md-button class="md-icon-button"  ng-click="openMoreMenu($mdOpenMenu)" >
                <md-icon class="material-icons" >more_vert</md-icon>
                <md-tooltip>
                    <span translate>More actions</span>
                </md-tooltip>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="showRetired()">
                        <md-icon class="material-icons" >people</md-icon>
                        Show retired people
                    </md-button>
                </md-menu-item>

            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>

<md-card>
    <md-toolbar class="md-table-toolbar md-default" >
        <div class="md-toolbar-tools">
            <md-icon>filter_list</md-icon>
            <md-input-container >
                <md-select ng-model="filters.gender" aria-label='Genders'  style="min-width: 130px;">
                    <md-option ng-selected value="-" >
                        {{'All genders'| translate}}
                    </md-option>
                    <md-option value="M" >
                        {{'Male '| translate}}
                    </md-option>
                    <md-option value="F" >
                        {{'Female'| translate}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-select ng-model="filters.status" aria-label='Status' style="min-width: 150px;">
                    <md-option ng-selected value="-">
                        {{'All status'| translate}}
                    </md-option>
                    <md-option ng-repeat="sta in status" value="{{sta.id}}">
                        {{sta.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-select ng-model="filters.grade" aria-label='Grade'  style="min-width: 150px;">
                    <md-option ng-selected value="-">
                        {{'All grades'| translate}}
                    </md-option>
                    <md-option ng-repeat="grade in grades" value="{{grade.id}}">
                        {{grade.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-select ng-model="filters.category" aria-label='Category' style="min-width: 150px;">
                    <md-option ng-selected value="-">
                        {{'All categories'| translate}}
                    </md-option>
                    <md-option ng-repeat="category in categories" value="{{category.id}}">
                        {{category.code| uppercase}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <md-select ng-model="filters.situation" aria-label='Situation' style="min-width: 150px;">
                    <md-option value="-">
                        {{'All situations'| translate}}
                    </md-option>
                    <md-option ng-repeat="situation in situations" value="{{situation.id}}">
                        {{situation.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-button class="md-icon-button" ng-click="" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>
        </div>
        <div class="md-toolbar-tools">
            <label flex translate>Nombre de resultats: {{personnels.count}}</label>
            <md-icon>search</md-icon>
            <md-input-container flex>
                <input type="text" name="search" ng-model="staffsFilter" placeholder="{{ 'Search amongs staff...' | translate }}">
            </md-input-container>
            <md-button class="md-icon-button" ng-click="filters.structure = '-1';staffsFilter = ''" aria-label="close">
                <md-icon class="material-icons">close</md-icon>
            </md-button>


        </div>
    </md-toolbar>
    <md-table-container>
        <table md-table md-progress="promise">
            <thead md-head md-order="query.order">
                <tr md-row>
                    <th md-column md-order-by="name"><span translate>Full name</span></th>
                    <th md-column md-order-by="matricule" style="max-width: 100px"><span translate>Reg. number</span></th>
                    <th md-column md-order-by="sexe" style="max-width: 10px"><span translate>Sex</span></th>
                    <th md-column md-order-by="grade" ><span translate>Grade</span></th>
                    <th md-column md-order-by="posteActuel[0].nom"><span translate>Function</span></th>
                    <th md-column md-order-by="posteActuel[0].structure[0].nom"><span translate>Structure aff.</span></th>
                    <!--<th md-column md-order-by="miseajour" ><span translate>Service began</span></th>-->
                    <th md-column md-order-by="telephone"><span translate>Phone</span></th>
                    <th md-column translate style="width: 200px"><span translate>Actions</span></th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row data-ng-repeat="personnel in personnels.data| filter:retiredOnly | orderBy: query.order "  ng-class="{'retired': personnel.retirement.retirement == 'true' || personnel.retirement.retirement == true || personnel.retirement.retirement === 'true'}" >
                    <td md-cell ng-click="read(personnel)">{{personnel.fname?personnel.fname:personnel.name.family[0] + " "+ personnel.name.given[0]}}</td>
                    <td md-cell style="max-width: 100px" ng-click="read(personnel)">{{personnel.identifier| uppercase | unknown}}</td>
                    <td md-cell style="max-width: 10px" ng-click="read(personnel)">{{personnel.gender| uppercase | unknown}}</td>
                    <td md-cell  ng-click="read(personnel)">{{personnel.grade| unknown}}</td>
                    <td md-cell ng-click="read(personnel)">{{personnel.affectation.position.name| unknown}}</td>
                    <td md-cell ng-click="read(personnel)">{{personnel.affectation.structure.name| unknown}}<span ng-if="personnel.affectation.structure"><br/><md-icon class="material-icons">subdirectory_arrow_right</md-icon><small><i> {{personnel.affectation.structure.father.name}} </i></small></span></td>
                    <!--<td md-cell ng-click="read(personnel)">{{personnel.affectedTo.date| date:'dd/MM/yyyy'|unknown}}</td>-->
                    <td md-cell ng-click="read(personnel)">{{personnel.telecom[0].value| unknown}}</td>
                    <td md-cell style="width: 200px">
            <md-button ng-click="affect(personnel)" class="md-fab md-primary md-hue-2 md-mini"  aria-label="Affecte" ng-if="account.role == '1' || account.role == '3'" >
                <md-icon>transfer_within_a_station</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Affect to new position</span>
                </md-tooltip>
            </md-button>
            <md-button class="md-fab md-primary md-hue-2 md-mini" ng-click="edit({id: personnel._id})" aria-label="Edit" >
                <md-icon>edit</md-icon>
                <md-tooltip md-direction="top">
                    <span translate>Edit</span>
                </md-tooltip>
            </md-button>
            <md-menu>
                <md-button class="md-icon-button"  ng-click="openMoreMenu($mdOpenMenu)" >
                    <md-icon class="material-icons" >more_vert</md-icon>
                    <md-tooltip>
                        <span translate>More actions</span>
                    </md-tooltip>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="newStaffSituation(personnel)">
                            <md-icon class="material-icons" >flag</md-icon>
                            <span translate>New staff situation</span>
                        </md-button>
                    </md-menu-item>
                    <md-divider ></md-divider>
                    <md-menu-item>
                        <md-button ng-click="newStaffSanction(personnel)">
                            <md-icon class="material-icons" >class</md-icon>
                            <span translate>New disciplinary sanction</span>
                        </md-button>
                    </md-menu-item>
                    <md-divider ></md-divider>
                    <!--                    <md-menu-item >
                                            <md-button ng-click="evaluate(personnel)" ng-disabled="!personnel.affectedTo || personnel.affectedTo === null || personnel.affectedTo === 'null' ">
                                                <md-icon class="material-icons" >verified_user</md-icon>
                                                <span translate>New quarter evaluation</span>
                                            </md-button>
                                        </md-menu-item>-->
                </md-menu-content>
            </md-menu>
            </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination  md-limit="query.limit" md-limit-options="[10, 15, 25, 50, 100]" md-page="query.page" md-total="{{personnels.count}}" 
                          md-page-select="true" md-label="{{label}}" md-on-paginate="getAgents">

</md-card>
<div style="margin-bottom: 100px"></div>
<md-button  class="md-fab md-accent md-fab-bottom-right" aria-label="Add" ui-sref="home.staffs.new" ng-if="account.role == '1' || account.role == '3'">
    <md-icon>add</md-icon>
    <md-tooltip md-direction="top">
        <span translate>New</span>
    </md-tooltip>
</md-button>
