<form ng-submit="changePassword();">
    <md-card>
        <md-card-content>
            <p><span translate>Use at least 6 characters</span><span>.</span></p>
            <md-input-container class="md-block">
                <label translate>Current</label>
                <input ng-model="oldPassword" type="password" md-minlength="6" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>New</label>
                <input ng-model="newPassword" type="password" md-minlength="6" required>
            </md-input-container>
            <md-input-container class="md-block">
                <label translate>Re-type new</label>
                <input ng-model="newPasswordConfirmation" type="password" md-minlength="6" required>
            </md-input-container>

        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="home.settings.main"><span translate>Cancel</span></md-button>
            <md-button class="md-raised md-accent" type="submit"><span translate>Done</span></md-button>
        </md-card-actions>
    </md-card>
    </form>